{:highlights [{:id #uuid "64267a67-8dfa-44a6-a52c-4f86ebc81214",
               :page 70,
               :position {:bounding {:x1 575.7152404785156,
                                     :y1 277.5652847290039,
                                     :x2 758.0711364746094,
                                     :y2 301.4458694458008,
                                     :width 793.856,
                                     :height 1274.368},
                          :rects ({:x1 575.7152404785156,
                                   :y1 277.5652847290039,
                                   :x2 758.0711364746094,
                                   :y2 301.4458694458008,
                                   :width 793.856,
                                   :height 1274.368}),
                          :page 70},
               :content {:text "of general covaria"},
               :properties {:color "yellow"}}
              {:id #uuid "6428f77e-b46f-426d-b11d-1b15a9e38ab1",
               :page 81,
               :position {:bounding {:x1 445.3930969238281,
                                     :y1 1024.4169311523438,
                                     :x2 538.3675842285156,
                                     :y2 1052.0288696289062,
                                     :width 843.472,
                                     :height 1354.016},
                          :rects ({:x1 445.3930969238281,
                                   :y1 1024.4169311523438,
                                   :x2 538.3675842285156,
                                   :y2 1052.0288696289062,
                                   :width 843.472,
                                   :height 1354.016}),
                          :page 81},
               :content {:text "principles"},
               :properties {:color "yellow"}}
              {:id #uuid "6428f95a-63d8-4f02-8ef3-864bb4438d87",
               :page 84,
               :position {:bounding {:x1 476.0000228881836,
                                     :y1 108.42044067382812,
                                     :x2 525.6288070678711,
                                     :y2 124.7703857421875,
                                     :width 541.6810897435897,
                                     :height 869.5544871794872},
                          :rects ({:x1 476.0000228881836,
                                   :y1 108.42044067382812,
                                   :x2 525.6288070678711,
                                   :y2 124.7703857421875,
                                   :width 541.6810897435897,
                                   :height 869.5544871794872}),
                          :page 84},
               :content {:text "(4.3.15)"},
               :properties {:color "yellow"}}
              {:id #uuid "64297a39-f7ff-4ff6-9670-c0ab2cfbf079",
               :page 464,
               :position {:bounding {:x1 434.9112854003906,
                                     :y1 260.59932708740234,
                                     :x2 622.5303649902344,
                                     :y2 285.22618865966797,
                                     :width 793.856,
                                     :height 1274.368},
                          :rects ({:x1 434.9112854003906,
                                   :y1 260.59932708740234,
                                   :x2 622.5303649902344,
                                   :y2 285.22618865966797,
                                   :width 793.856,
                                   :height 1274.368}),
                          :page 464},
               :content {:text "unctional derivative1"},
               :properties {:color "yellow"}}
              {:id #uuid "6433cd3d-fc1f-48f5-966e-e2f1fd234ef2",
               :page 455,
               :position {:bounding {:x1 21.59978675842285,
                                     :y1 260.5897309780121,
                                     :x2 125.1877613067627,
                                     :y2 281.0271394252777,
                                     :width 744.24,
                                     :height 1194.72},
                          :rects ({:x1 21.59978675842285,
                                   :y1 260.5897309780121,
                                   :x2 125.1877613067627,
                                   :y2 281.0271394252777,
                                   :width 744.24,
                                   :height 1194.72}),
                          :page 455},
               :content {:text "Proposition"},
               :properties {:color "yellow"}}
              {:id #uuid "6433ce90-e3c9-4031-95f6-d7b06c8ac6fc",
               :page 455,
               :position {:bounding {:x1 553.5982971191406,
                                     :y1 593.9621887207031,
                                     :x2 603.5962219238281,
                                     :y2 611.9470977783203,
                                     :width 620.1999999999999,
                                     :height 995.5999999999999},
                          :rects ({:x1 553.5982971191406,
                                   :y1 593.9621887207031,
                                   :x2 603.5962219238281,
                                   :y2 611.9470977783203,
                                   :width 620.1999999999999,
                                   :height 995.5999999999999}),
                          :page 455},
               :content {:text "(C3.3)"},
               :properties {:color "yellow"}}
              {:id #uuid "6437aad2-3d97-4484-9f01-ccf5d4d0b667",
               :page 142,
               :position {:bounding {:x1 459.0343721639365,
                                     :y1 177.74412155151367,
                                     :x2 506.6755159627646,
                                     :y2 194.74804306030273,
                                     :width 522,
                                     :height 837.9606578523058},
                          :rects ({:x1 459.0343721639365,
                                   :y1 177.74412155151367,
                                   :x2 506.6755159627646,
                                   :y2 194.74804306030273,
                                   :width 522,
                                   :height 837.9606578523058}),
                          :page 142},
               :content {:text "(6.2.27)"},
               :properties {:color "yellow"}}
              {:id #uuid "6451c6c6-0c91-4f31-9c71-9833bed15002",
               :page 154,
               :position {:bounding {:x1 38,
                                     :y1 71.9609375,
                                     :x2 391,
                                     :y2 434.9609375,
                                     :width 432.3509615384616,
                                     :height 694.048076923077},
                          :rects (),
                          :page 154},
               :content {:text "[:span]", :image 1683080900991},
               :properties {:color "yellow"}}
              {:id #uuid "6451c710-66ce-4a83-a5d6-69f4d2fd64bc",
               :page 153,
               :position {:bounding {:x1 37,
                                     :y1 308.9140625,
                                     :x2 387,
                                     :y2 512.9140625,
                                     :width 432.3509615384616,
                                     :height 694.048076923077},
                          :rects (),
                          :page 153},
               :content {:text "[:span]", :image 1683080975746},
               :properties {:color "yellow"}}
              {:id #uuid "64586a3e-a531-406b-9161-8d2e5fdbf004",
               :page 165,
               :position {:bounding {:x1 525.4967956542969,
                                     :y1 466.65753173828125,
                                     :x2 579.0672302246094,
                                     :y2 486.2774353027344,
                                     :width 595.3919999999999,
                                     :height 955.776},
                          :rects ({:x1 525.4967956542969,
                                   :y1 466.65753173828125,
                                   :x2 579.0672302246094,
                                   :y2 486.2774353027344,
                                   :width 595.3919999999999,
                                   :height 955.776}),
                          :page 165},
               :content {:text "(6.4.16)"},
               :properties {:color "yellow"}}
              {:id #uuid "64586a65-4715-465e-8561-8b0c5237f695",
               :page 162,
               :position {:bounding {:x1 532.79296875,
                                     :y1 119.10919189453125,
                                     :x2 578.8737182617188,
                                     :y2 136.11312866210938,
                                     :width 595.3919999999999,
                                     :height 955.776},
                          :rects ({:x1 532.79296875,
                                   :y1 119.10919189453125,
                                   :x2 578.8737182617188,
                                   :y2 136.11312866210938,
                                   :width 595.3919999999999,
                                   :height 955.776}),
                          :page 162},
               :content {:text "(6.4.1)"},
               :properties {:color "yellow"}}
              {:id #uuid "64586b43-dd3c-4922-9763-a440d5bdbde3",
               :page 162,
               :position {:bounding {:x1 532.2207336425781,
                                     :y1 589.5067749023438,
                                     :x2 578.1095581054688,
                                     :y2 606.5106964111328,
                                     :width 595.3919999999999,
                                     :height 955.776},
                          :rects ({:x1 532.2207336425781,
                                   :y1 589.5067749023438,
                                   :x2 578.1095581054688,
                                   :y2 606.5106964111328,
                                   :width 595.3919999999999,
                                   :height 955.776}),
                          :page 162},
               :content {:text "(6.4.3)"},
               :properties {:color "yellow"}}
              {:id #uuid "646053c7-eada-447f-b021-3640eba9d246",
               :page 333,
               :position {:bounding {:x1 470.06038665771484,
                                     :y1 577.3695593476295,
                                     :x2 526.3014144897461,
                                     :y2 592.084525167942,
                                     :width 541.6810897435897,
                                     :height 869.5544871794872},
                          :rects ({:x1 470.06038665771484,
                                   :y1 577.3695593476295,
                                   :x2 526.3014144897461,
                                   :y2 592.084525167942,
                                   :width 541.6810897435897,
                                   :height 869.5544871794872}),
                          :page 333},
               :content {:text "(12.3.24)"},
               :properties {:color "yellow"}}
              {:id #uuid "65ec0397-091a-4efe-b7f0-91498baacdb7",
               :page 468,
               :position {:bounding {:x1 546.8589019775391,
                                     :y1 845.7333221435547,
                                     :x2 595.1228179931641,
                                     :y2 861.6670989990234,
                                     :width 620.1999999999999,
                                     :height 995.5999999999999},
                          :rects ({:x1 546.8589019775391,
                                   :y1 845.7333221435547,
                                   :x2 595.1228179931641,
                                   :y2 861.6670989990234,
                                   :width 620.1999999999999,
                                   :height 995.5999999999999}),
                          :page 468},
               :content {:text "E. 1.26"},
               :properties {:color "yellow"}}],
 :extra {:page 468}}
