{:highlights [{:id #uuid "64267a67-8dfa-44a6-a52c-4f86ebc81214",
               :page 70,
               :position {:bounding {:x1 575.7152404785156,
                                     :y1 277.5652847290039,
                                     :x2 758.0711364746094,
                                     :y2 301.4458694458008,
                                     :width 793.856,
                                     :height 1274.368},
                          :rects ({:x1 575.7152404785156,
                                   :y1 277.5652847290039,
                                   :x2 758.0711364746094,
                                   :y2 301.4458694458008,
                                   :width 793.856,
                                   :height 1274.368}),
                          :page 70},
               :content {:text "of general covaria"},
               :properties {:color "yellow"}}
              {:id #uuid "6428f77e-b46f-426d-b11d-1b15a9e38ab1",
               :page 81,
               :position {:bounding {:x1 445.3930969238281,
                                     :y1 1024.4169311523438,
                                     :x2 538.3675842285156,
                                     :y2 1052.0288696289062,
                                     :width 843.472,
                                     :height 1354.016},
                          :rects ({:x1 445.3930969238281,
                                   :y1 1024.4169311523438,
                                   :x2 538.3675842285156,
                                   :y2 1052.0288696289062,
                                   :width 843.472,
                                   :height 1354.016}),
                          :page 81},
               :content {:text "principles"},
               :properties {:color "yellow"}}
              {:id #uuid "6428f95a-63d8-4f02-8ef3-864bb4438d87",
               :page 84,
               :position {:bounding {:x1 476.0000228881836,
                                     :y1 108.42044067382812,
                                     :x2 525.6288070678711,
                                     :y2 124.7703857421875,
                                     :width 541.6810897435897,
                                     :height 869.5544871794872},
                          :rects ({:x1 476.0000228881836,
                                   :y1 108.42044067382812,
                                   :x2 525.6288070678711,
                                   :y2 124.7703857421875,
                                   :width 541.6810897435897,
                                   :height 869.5544871794872}),
                          :page 84},
               :content {:text "(4.3.15)"},
               :properties {:color "yellow"}}
              {:id #uuid "64297a39-f7ff-4ff6-9670-c0ab2cfbf079",
               :page 464,
               :position {:bounding {:x1 434.9112854003906,
                                     :y1 260.59932708740234,
                                     :x2 622.5303649902344,
                                     :y2 285.22618865966797,
                                     :width 793.856,
                                     :height 1274.368},
                          :rects ({:x1 434.9112854003906,
                                   :y1 260.59932708740234,
                                   :x2 622.5303649902344,
                                   :y2 285.22618865966797,
                                   :width 793.856,
                                   :height 1274.368}),
                          :page 464},
               :content {:text "unctional derivative1"},
               :properties {:color "yellow"}}],
 :extra {:page 477}}
