{:highlights [{:id #uuid "64267a67-8dfa-44a6-a52c-4f86ebc81214",
               :page 70,
               :position {:bounding {:x1 575.7152404785156,
                                     :y1 277.5652847290039,
                                     :x2 758.0711364746094,
                                     :y2 301.4458694458008,
                                     :width 793.856,
                                     :height 1274.368},
                          :rects ({:x1 575.7152404785156,
                                   :y1 277.5652847290039,
                                   :x2 758.0711364746094,
                                   :y2 301.4458694458008,
                                   :width 793.856,
                                   :height 1274.368}),
                          :page 70},
               :content {:text "of general covaria"},
               :properties {:color "yellow"}}],
 :extra {:page 71}}
