{:highlights [{:id #uuid "64113a62-8e58-494b-bade-e5ec6dff42e1",
               :page 17,
               :position {:bounding {:x1 141.9309539794922,
                                     :y1 563.4677925109863,
                                     :x2 231.24729919433594,
                                     :y2 591.0797309875488,
                                     :width 1053.6,
                                     :height 1598.3999999999999},
                          :rects ({:x1 141.9309539794922,
                                   :y1 563.4677925109863,
                                   :x2 231.24729919433594,
                                   :y2 591.0797309875488,
                                   :width 1053.6,
                                   :height 1598.3999999999999}),
                          :page 17},
               :content {:text "Theorem"},
               :properties {:color "yellow"}}
              {:id #uuid "64113b44-ccd4-41d8-b489-12572e41a829",
               :page 17,
               :position {:bounding {:x1 265,
                                     :y1 505.064453125,
                                     :x2 460,
                                     :y2 677.064453125,
                                     :width 731.6666666666666,
                                     :height 1110},
                          :rects (),
                          :page 17},
               :content {:text "[:span]", :image 1678850884041},
               :properties {:color "yellow"}}
              {:id #uuid "64113d1c-558d-48b0-a863-a14bd8ee5c18",
               :page 22,
               :position {:bounding {:x1 134.1588134765625,
                                     :y1 317.533447265625,
                                     :x2 222.16598510742188,
                                     :y2 342.8758544921875,
                                     :width 1053.6,
                                     :height 1598.3999999999999},
                          :rects ({:x1 134.1588134765625,
                                   :y1 317.533447265625,
                                   :x2 222.16598510742188,
                                   :y2 342.8758544921875,
                                   :width 1053.6,
                                   :height 1598.3999999999999}),
                          :page 22},
               :content {:text "Theorem"},
               :properties {:color "yellow"}}
              {:id #uuid "6422b6cc-a25b-4228-9495-394b752cebfe",
               :page 29,
               :position {:bounding {:x1 140.7765655517578,
                                     :y1 1425.2214965820312,
                                     :x2 232.46559143066406,
                                     :y2 1451.3408813476562,
                                     :width 1053.6,
                                     :height 1598.3999999999999},
                          :rects ({:x1 140.7765655517578,
                                   :y1 1425.2214965820312,
                                   :x2 232.46559143066406,
                                   :y2 1451.3408813476562,
                                   :width 1053.6,
                                   :height 1598.3999999999999}),
                          :page 29},
               :content {:text "Theorem"},
               :properties {:color "yellow"}}
              {:id #uuid "6427a17b-2b44-4fbe-a61f-27a9b853464c",
               :page 30,
               :position {:bounding {:x1 141.98927307128906,
                                     :y1 1556.8446044921875,
                                     :x2 241.7496795654297,
                                     :y2 1584.45654296875,
                                     :width 1112.1333333333332,
                                     :height 1687.1999999999998},
                          :rects ({:x1 141.98927307128906,
                                   :y1 1556.8446044921875,
                                   :x2 241.7496795654297,
                                   :y2 1584.45654296875,
                                   :width 1112.1333333333332,
                                   :height 1687.1999999999998}),
                          :page 30},
               :content {:text "Theorem "},
               :properties {:color "yellow"}}
              {:id #uuid "6427a564-e84e-4a24-b545-824c745dc62f",
               :page 33,
               :position {:bounding {:x1 277,
                                     :y1 394.20703125,
                                     :x2 378,
                                     :y2 483.20703125,
                                     :width 654,
                                     :height 992.1731207289295},
                          :rects (),
                          :page 33},
               :content {:text "[:span]", :image 1680319843731},
               :properties {:color "yellow"}}
              {:id #uuid "6427a61a-b555-44c4-8ba2-c37e4c6faa27",
               :page 34,
               :position {:bounding {:x1 122.03823852539062,
                                     :y1 698.3791580200195,
                                     :x2 205.72772216796875,
                                     :y2 720.767219543457,
                                     :width 936.5333333333333,
                                     :height 1420.8},
                          :rects ({:x1 122.03823852539062,
                                   :y1 698.3791580200195,
                                   :x2 205.72772216796875,
                                   :y2 720.767219543457,
                                   :width 936.5333333333333,
                                   :height 1420.8}),
                          :page 34},
               :content {:text "Corollary"},
               :properties {:color "yellow"}}
              {:id #uuid "6427effd-8884-4ae1-9041-60e508559560",
               :page 35,
               :position {:bounding {:x1 115.41513061523438,
                                     :y1 957.3110961914062,
                                     :x2 189.16763305664062,
                                     :y2 979.6991577148438,
                                     :width 878,
                                     :height 1332},
                          :rects ({:x1 115.41513061523438,
                                   :y1 957.3110961914062,
                                   :x2 189.16763305664062,
                                   :y2 979.6991577148438,
                                   :width 878,
                                   :height 1332}),
                          :page 35},
               :content {:text "Theorem"},
               :properties {:color "yellow"}}
              {:id #uuid "6427f09b-7a0d-4fff-9b5a-17c5f0084aca",
               :page 36,
               :position {:bounding {:x1 94.40298461914062,
                                     :y1 185.64361572265625,
                                     :x2 155.46258544921875,
                                     :y2 203.5540771484375,
                                     :width 731.6666666666666,
                                     :height 1110},
                          :rects ({:x1 94.40298461914062,
                                   :y1 185.64361572265625,
                                   :x2 155.46258544921875,
                                   :y2 203.5540771484375,
                                   :width 731.6666666666666,
                                   :height 1110}),
                          :page 36},
               :content {:text "Theorem"},
               :properties {:color "yellow"}}
              {:id #uuid "6427f13b-04bb-41d0-b06b-f35e68b40624",
               :page 36,
               :position {:bounding {:x1 94.78775024414062,
                                     :y1 501.3175964355469,
                                     :x2 156.35369873046875,
                                     :y2 519.2280578613281,
                                     :width 731.6666666666666,
                                     :height 1110},
                          :rects ({:x1 94.78775024414062,
                                   :y1 501.3175964355469,
                                   :x2 156.35369873046875,
                                   :y2 519.2280578613281,
                                   :width 731.6666666666666,
                                   :height 1110}),
                          :page 36},
               :content {:text "Theorem"},
               :properties {:color "yellow"}}
              {:id #uuid "6427f2e4-0f92-4d71-9056-c205ac7f7736",
               :page 39,
               :position {:bounding {:x1 96.57183837890625,
                                     :y1 420.04431915283203,
                                     :x2 158.171875,
                                     :y2 438.7009963989258,
                                     :width 731.6666666666666,
                                     :height 1110},
                          :rects ({:x1 96.57183837890625,
                                   :y1 420.04431915283203,
                                   :x2 158.171875,
                                   :y2 438.7009963989258,
                                   :width 731.6666666666666,
                                   :height 1110}),
                          :page 39},
               :content {:text "Theorem"},
               :properties {:color "yellow"}}
              {:id #uuid "642be6d7-d592-4d6e-9bed-7e9e0d6624dc",
               :page 40,
               :position {:bounding {:x1 93.00375366210938,
                                     :y1 447.7845026254654,
                                     :x2 154.61407470703125,
                                     :y2 466.44121038913727,
                                     :width 731.6666666666666,
                                     :height 1110},
                          :rects ({:x1 93.00375366210938,
                                   :y1 447.7845026254654,
                                   :x2 154.61407470703125,
                                   :y2 466.44121038913727,
                                   :width 731.6666666666666,
                                   :height 1110}),
                          :page 40},
               :content {:text "Theorem"},
               :properties {:color "yellow"}}
              {:id #uuid "642beb92-a7b0-4614-816f-5e3042f3e7db",
               :page 42,
               :position {:bounding {:x1 305,
                                     :y1 531.51953125,
                                     :x2 545,
                                     :y2 705.51953125,
                                     :width 878,
                                     :height 1332},
                          :rects (),
                          :page 42},
               :content {:text "[:span]", :image 1680599954604},
               :properties {:color "yellow"}}
              {:id #uuid "642d7f26-c4a3-4172-a3bd-398cca94309e",
               :page 44,
               :position {:bounding {:x1 121.54852294921875,
                                     :y1 322.213134765625,
                                     :x2 198.43685913085938,
                                     :y2 344.6011962890625,
                                     :width 936.5333333333333,
                                     :height 1420.8},
                          :rects ({:x1 121.54852294921875,
                                   :y1 322.213134765625,
                                   :x2 198.43685913085938,
                                   :y2 344.6011962890625,
                                   :width 936.5333333333333,
                                   :height 1420.8}),
                          :page 44},
               :content {:text "Theorem"},
               :properties {:color "yellow"}}
              {:id #uuid "642d8003-6824-4805-ba5e-7ce8cb5333e2",
               :page 45,
               :position {:bounding {:x1 123.60073852539062,
                                     :y1 291.1263885498047,
                                     :x2 201.98837280273438,
                                     :y2 315.0070037841797,
                                     :width 936.5333333333333,
                                     :height 1420.8},
                          :rects ({:x1 123.60073852539062,
                                   :y1 291.1263885498047,
                                   :x2 201.98837280273438,
                                   :y2 315.0070037841797,
                                   :width 936.5333333333333,
                                   :height 1420.8}),
                          :page 45},
               :content {:text "Theorem"},
               :properties {:color "yellow"}}
              {:id #uuid "642f6f75-ef56-46e8-9c59-b9d8a53c670f",
               :page 46,
               :position {:bounding {:x1 122.06155395507812,
                                     :y1 1265.8581848144531,
                                     :x2 201.90902709960938,
                                     :y2 1288.2462463378906,
                                     :width 936.5333333333333,
                                     :height 1420.8},
                          :rects ({:x1 122.06155395507812,
                                   :y1 1265.8581848144531,
                                   :x2 201.90902709960938,
                                   :y2 1288.2462463378906,
                                   :width 936.5333333333333,
                                   :height 1420.8}),
                          :page 46},
               :content {:text "Theorem"},
               :properties {:color "yellow"}}
              {:id #uuid "642f75cf-4934-42ad-9567-a1cb71c1b3a8",
               :page 49,
               :position {:bounding {:x1 124.37033081054688,
                                     :y1 711.5904846191406,
                                     :x2 203.70602416992188,
                                     :y2 733.9785461425781,
                                     :width 936.5333333333333,
                                     :height 1420.8},
                          :rects ({:x1 124.37033081054688,
                                   :y1 711.5904846191406,
                                   :x2 203.70602416992188,
                                   :y2 733.9785461425781,
                                   :width 936.5333333333333,
                                   :height 1420.8}),
                          :page 49},
               :content {:text "Theorem"},
               :properties {:color "yellow"}}],
 :extra {:page 49}}
