{:highlights [{:id #uuid "651182d6-ad9b-44d2-b5c8-17501d6d00ad",
               :page 2,
               :position {:bounding {:x1 330.39280185103416,
                                     :y1 237.60975646972656,
                                     :x2 336.8849283158779,
                                     :y2 250.0064468383789,
                                     :width 559,
                                     :height 723.4117647058823},
                          :rects ({:x1 330.39280185103416,
                                   :y1 237.60975646972656,
                                   :x2 336.8849283158779,
                                   :y2 250.0064468383789,
                                   :width 559,
                                   :height 723.4117647058823}),
                          :page 2},
               :content {:text "t "},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
