{:highlights [{:id #uuid "65ec5fd9-6512-4a10-96fd-415c6fb97a61",
               :page 130,
               :position {:bounding {:x1 127.73603820800781,
                                     :y1 95.22149658203125,
                                     :x2 778.2245635986328,
                                     :y2 135.208251953125,
                                     :width 952.3199999999999,
                                     :height 1579.52},
                          :rects ({:x1 127.73603820800781,
                                   :y1 95.22149658203125,
                                   :x2 778.2245635986328,
                                   :y2 135.208251953125,
                                   :width 952.3199999999999,
                                   :height 1579.52}),
                          :page 130},
               :content {:text " The Conformal Group in Two Dimensions"},
               :properties {:color "yellow"}}
              {:id #uuid "65ee9e89-d3d9-46d1-8570-8297e120fada",
               :page 117,
               :position {:bounding {:x1 64.75536346435547,
                                     :y1 1488.5851745605469,
                                     :x2 147.13570404052734,
                                     :y2 1534.2843627929688,
                                     :width 1190.3999999999999,
                                     :height 1974.4},
                          :rects ({:x1 64.75536346435547,
                                   :y1 1488.5851745605469,
                                   :x2 147.13570404052734,
                                   :y2 1534.2843627929688,
                                   :width 1190.3999999999999,
                                   :height 1974.4}),
                          :page 117},
               :content {:text "4.2.1"},
               :properties {:color "yellow"}}
              {:id #uuid "6604c8e6-e00d-41bd-bee5-95f38dcb49cd",
               :page 199,
               :position {:bounding {:x1 156.21173477172852,
                                     :y1 873.8550415039062,
                                     :x2 236.3802833557129,
                                     :y2 899.2041625976562,
                                     :width 809.472,
                                     :height 1342.592},
                          :rects ({:x1 156.21173477172852,
                                   :y1 873.8550415039062,
                                   :x2 236.3802833557129,
                                   :y2 899.2041625976562,
                                   :width 809.472,
                                   :height 1342.592}),
                          :page 199},
               :content {:text " illustrat"},
               :properties {:color "yellow"}}],
 :extra {:page 147}}
