{:highlights [{:id #uuid "65571999-a1f2-4787-bccc-7be5e150c2d2",
               :page 3,
               :position {:bounding {:x1 0,
                                     :y1 622.6156539916992,
                                     :x2 1066.6680755615234,
                                     :y2 1338.0951538085938,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 0,
                                   :y1 622.6156539916992,
                                   :x2 0,
                                   :y2 641.4464416503906,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 0,
                                   :y1 638.6172943115234,
                                   :x2 0,
                                   :y2 657.4480895996094,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 1011.5415649414062,
                                   :y1 1248.173583984375,
                                   :x2 1066.3282470703125,
                                   :y2 1276.4197998046875,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 237.61424255371094,
                                   :y1 1278.9207763671875,
                                   :x2 1066.6680755615234,
                                   :y2 1307.1669311523438,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 237.61424255371094,
                                   :y1 1309.8489379882812,
                                   :x2 798.7886199951172,
                                   :y2 1338.0951538085938,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 3},
               :content {:text "most Majorana operators are paired up with an energy gap while few ones (localized at the boundary or defects) remain “free”."},
               :properties {:color "blue"}}
              {:id #uuid "655832c2-2fa9-4620-9d01-0f73076e20d8",
               :page 5,
               :position {:bounding {:x1 550.1185760498047,
                                     :y1 863.44775390625,
                                     :x2 858.1185760498047,
                                     :y2 938.44775390625,
                                     :width 1060.8,
                                     :height 1372.8},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1700278977052},
               :properties {:color "yellow"}}
              {:id #uuid "655832d0-ee28-45c6-8091-04cb1f4fbaf8",
               :page 5,
               :position {:bounding {:x1 187.5238037109375,
                                     :y1 876.44775390625,
                                     :x2 497.5238037109375,
                                     :y2 939.44775390625,
                                     :width 1060.8,
                                     :height 1372.8},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1700278989576},
               :properties {:color "yellow"}}
              {:id #uuid "65604cd9-1dcf-468f-9331-831171f13f06",
               :page 7,
               :position {:bounding {:x1 702.5475158691406,
                                     :y1 804.7857666015625,
                                     :x2 733.2010192871094,
                                     :y2 824.2503051757812,
                                     :width 897.6,
                                     :height 1161.6000000000001},
                          :rects ({:x1 702.5475158691406,
                                   :y1 804.7857666015625,
                                   :x2 733.2010192871094,
                                   :y2 824.2503051757812,
                                   :width 897.6,
                                   :height 1161.6000000000001}),
                          :page 7},
               :content {:text "(14)"},
               :properties {:color "yellow"}}],
 :extra {:page 7}}
