{:highlights [{:id #uuid "65571999-a1f2-4787-bccc-7be5e150c2d2",
               :page 3,
               :position {:bounding {:x1 0,
                                     :y1 622.6156539916992,
                                     :x2 1066.6680755615234,
                                     :y2 1338.0951538085938,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 0,
                                   :y1 622.6156539916992,
                                   :x2 0,
                                   :y2 641.4464416503906,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 0,
                                   :y1 638.6172943115234,
                                   :x2 0,
                                   :y2 657.4480895996094,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 1011.5415649414062,
                                   :y1 1248.173583984375,
                                   :x2 1066.3282470703125,
                                   :y2 1276.4197998046875,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 237.61424255371094,
                                   :y1 1278.9207763671875,
                                   :x2 1066.6680755615234,
                                   :y2 1307.1669311523438,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 237.61424255371094,
                                   :y1 1309.8489379882812,
                                   :x2 798.7886199951172,
                                   :y2 1338.0951538085938,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 3},
               :content {:text "most Majorana operators are paired up with an energy gap while few ones (localized at the boundary or defects) remain “free”."},
               :properties {:color "blue"}}
              {:id #uuid "655832c2-2fa9-4620-9d01-0f73076e20d8",
               :page 5,
               :position {:bounding {:x1 550.1185760498047,
                                     :y1 863.44775390625,
                                     :x2 858.1185760498047,
                                     :y2 938.44775390625,
                                     :width 1060.8,
                                     :height 1372.8},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1700278977052},
               :properties {:color "yellow"}}
              {:id #uuid "655832d0-ee28-45c6-8091-04cb1f4fbaf8",
               :page 5,
               :position {:bounding {:x1 187.5238037109375,
                                     :y1 876.44775390625,
                                     :x2 497.5238037109375,
                                     :y2 939.44775390625,
                                     :width 1060.8,
                                     :height 1372.8},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1700278989576},
               :properties {:color "yellow"}}
              {:id #uuid "65604cd9-1dcf-468f-9331-831171f13f06",
               :page 7,
               :position {:bounding {:x1 702.5475158691406,
                                     :y1 804.7857666015625,
                                     :x2 733.2010192871094,
                                     :y2 824.2503051757812,
                                     :width 897.6,
                                     :height 1161.6000000000001},
                          :rects ({:x1 702.5475158691406,
                                   :y1 804.7857666015625,
                                   :x2 733.2010192871094,
                                   :y2 824.2503051757812,
                                   :width 897.6,
                                   :height 1161.6000000000001}),
                          :page 7},
               :content {:text "(14)"},
               :properties {:color "yellow"}}
              {:id #uuid "65616a95-5ca6-4864-972e-f5b6ebfc61fe",
               :page 9,
               :position {:bounding {:x1 0,
                                     :y1 62.18461990356445,
                                     :x2 733.5378341674805,
                                     :y2 422.68849182128906,
                                     :width 897.6,
                                     :height 1161.6000000000001},
                          :rects ({:x1 0,
                                   :y1 62.18461990356445,
                                   :x2 0,
                                   :y2 81.64913940429688,
                                   :width 897.6,
                                   :height 1161.6000000000001}
                                  {:x1 0,
                                   :y1 78.18343734741211,
                                   :x2 0,
                                   :y2 97.64795684814453,
                                   :width 897.6,
                                   :height 1161.6000000000001}
                                  {:x1 0,
                                   :y1 94.18225455284119,
                                   :x2 0,
                                   :y2 113.64677405357361,
                                   :width 897.6,
                                   :height 1161.6000000000001}
                                  {:x1 439.7270050048828,
                                   :y1 339.6813507080078,
                                   :x2 733.1316680908203,
                                   :y2 359.14585876464844,
                                   :width 897.6,
                                   :height 1161.6000000000001}
                                  {:x1 163.36193084716797,
                                   :y1 360.70896911621094,
                                   :x2 733.5378341674805,
                                   :y2 380.1735076904297,
                                   :width 897.6,
                                   :height 1161.6000000000001}
                                  {:x1 163.36193084716797,
                                   :y1 382.0831756591797,
                                   :x2 732.9511642456055,
                                   :y2 401.5476837158203,
                                   :width 897.6,
                                   :height 1161.6000000000001}
                                  {:x1 498.07106018066406,
                                   :y1 402.0498504638672,
                                   :x2 530.9598846435547,
                                   :y2 414.7244415283203,
                                   :width 897.6,
                                   :height 1161.6000000000001}
                                  {:x1 163.36193084716797,
                                   :y1 403.2239532470703,
                                   :x2 499.9312286376953,
                                   :y2 422.68849182128906,
                                   :width 897.6,
                                   :height 1161.6000000000001}),
                          :page 9},
               :content {:text "It has been mentioned that the necessary conditions for unpaired Majorana fermions are superconductivity and a gap in the bulk excitation spectrum. The latter is equivalent to the quasiparticle tunneling amplitude vanishing as e−L/l0"},
               :properties {:color "red"}}
              {:id #uuid "65616f5a-d59b-4067-ab1e-76ff91e62e06",
               :page 9,
               :position {:bounding {:x1 178.30490112304688,
                                     :y1 846.625,
                                     :x2 783.3049011230469,
                                     :y2 984.625,
                                     :width 979.1999999999999,
                                     :height 1267.1999999999998},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1700884313627},
               :properties {:color "yellow"}}],
 :extra {:page 10}}
