{:highlights [{:id #uuid "65571999-a1f2-4787-bccc-7be5e150c2d2",
               :page 3,
               :position {:bounding {:x1 0,
                                     :y1 622.6156539916992,
                                     :x2 1066.6680755615234,
                                     :y2 1338.0951538085938,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 0,
                                   :y1 622.6156539916992,
                                   :x2 0,
                                   :y2 641.4464416503906,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 0,
                                   :y1 638.6172943115234,
                                   :x2 0,
                                   :y2 657.4480895996094,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 1011.5415649414062,
                                   :y1 1248.173583984375,
                                   :x2 1066.3282470703125,
                                   :y2 1276.4197998046875,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 237.61424255371094,
                                   :y1 1278.9207763671875,
                                   :x2 1066.6680755615234,
                                   :y2 1307.1669311523438,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 237.61424255371094,
                                   :y1 1309.8489379882812,
                                   :x2 798.7886199951172,
                                   :y2 1338.0951538085938,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 3},
               :content {:text "most Majorana operators are paired up with an energy gap while few ones (localized at the boundary or defects) remain “free”."},
               :properties {:color "blue"}}],
 :extra {:page 4}}
