{:highlights [{:id #uuid "64be93a5-ba14-4a9a-9be0-65d2e66d72f3",
               :page 2,
               :position {:bounding {:x1 66.47726680338383,
                                     :y1 574.8966598510742,
                                     :x2 535.7080178409815,
                                     :y2 595.1445922851562,
                                     :width 652,
                                     :height 843.7647058823529},
                          :rects ({:x1 66.47726680338383,
                                   :y1 574.8966598510742,
                                   :x2 535.7080178409815,
                                   :y2 595.1445922851562,
                                   :width 652,
                                   :height 843.7647058823529}),
                          :page 2},
               :content {:text "1 Toric codes and the corresponding Hamiltonians"},
               :properties {:color "yellow"}}
              {:id #uuid "64be93b0-50e5-4d9b-9964-71e6d4ede19e",
               :page 6,
               :position {:bounding {:x1 66.47726680338383,
                                     :y1 225.11620330810547,
                                     :x2 235.61985255777836,
                                     :y2 245.3641357421875,
                                     :width 652,
                                     :height 843.7647058823529},
                          :rects ({:x1 66.47726680338383,
                                   :y1 225.11620330810547,
                                   :x2 235.61985255777836,
                                   :y2 245.3641357421875,
                                   :width 652,
                                   :height 843.7647058823529}),
                          :page 6},
               :content {:text "2 Abelian anyons"},
               :properties {:color "yellow"}}
              {:id #uuid "64be93b2-e1d5-4724-9cb8-935061ce9364",
               :page 6,
               :position {:bounding {:x1 66.47726680338383,
                                     :y1 225.11620330810547,
                                     :x2 235.61985255777836,
                                     :y2 245.3641357421875,
                                     :width 652,
                                     :height 843.7647058823529},
                          :rects ({:x1 66.47726680338383,
                                   :y1 225.11620330810547,
                                   :x2 235.61985255777836,
                                   :y2 245.3641357421875,
                                   :width 652,
                                   :height 843.7647058823529}),
                          :page 6},
               :content {:text "2 Abelian anyons"},
               :properties {:color "yellow"}}
              {:id #uuid "64be93c4-7c15-442d-97ad-c709819f9f80",
               :page 8,
               :position {:bounding {:x1 66.47726680338383,
                                     :y1 533.7293090820312,
                                     :x2 479.65229274332523,
                                     :y2 553.9772338867188,
                                     :width 652.0000000000001,
                                     :height 843.7647058823532},
                          :rects ({:x1 66.47726680338383,
                                   :y1 533.7293090820312,
                                   :x2 479.65229274332523,
                                   :y2 553.9772338867188,
                                   :width 652.0000000000001,
                                   :height 843.7647058823532}),
                          :page 8},
               :content {:text "3 Materialized symmetry: is that a miracle?"},
               :properties {:color "yellow"}}
              {:id #uuid "64be93cb-e185-4824-b9ea-9fbac5f70ed4",
               :page 10,
               :position {:bounding {:x1 66.47726680338383,
                                     :y1 424.68360900878906,
                                     :x2 428.3629555851221,
                                     :y2 444.93153381347656,
                                     :width 652.0000000000001,
                                     :height 843.7647058823532},
                          :rects ({:x1 66.47726680338383,
                                   :y1 424.68360900878906,
                                   :x2 428.3629555851221,
                                   :y2 444.93153381347656,
                                   :width 652.0000000000001,
                                   :height 843.7647058823532}),
                          :page 10},
               :content {:text "4 The model based on a group algebra"},
               :properties {:color "yellow"}}
              {:id #uuid "64be93d2-eec2-45de-99ec-b959ce0d2e1c",
               :page 13,
               :position {:bounding {:x1 66.47726680338383,
                                     :y1 573.3664398193359,
                                     :x2 272.92185451090336,
                                     :y2 593.6143798828125,
                                     :width 652.0000000000001,
                                     :height 843.7647058823532},
                          :rects ({:x1 66.47726680338383,
                                   :y1 573.3664398193359,
                                   :x2 272.92185451090336,
                                   :y2 593.6143798828125,
                                   :width 652.0000000000001,
                                   :height 843.7647058823532}),
                          :page 13},
               :content {:text "5 Algebraic structure"},
               :properties {:color "yellow"}}
              {:id #uuid "64be93db-3644-4d98-b85f-5cfe37f0a88d",
               :page 15,
               :position {:bounding {:x1 66.47726680338383,
                                     :y1 674.5867462158203,
                                     :x2 237.59557582437992,
                                     :y2 691.5289001464844,
                                     :width 652.0000000000001,
                                     :height 843.7647058823532},
                          :rects ({:x1 66.47726680338383,
                                   :y1 674.5867462158203,
                                   :x2 237.59557582437992,
                                   :y2 691.5289001464844,
                                   :width 652.0000000000001,
                                   :height 843.7647058823532}),
                          :page 15},
               :content {:text "5.2 Ribbon operators"},
               :properties {:color "yellow"}}
              {:id #uuid "64be9410-59ab-41e5-9ffd-0ea716398260",
               :page 16,
               :position {:bounding {:x1 223,
                                     :y1 476,
                                     :x2 473,
                                     :y2 574,
                                     :width 652.0000000000001,
                                     :height 843.7647058823532},
                          :rects (),
                          :page 16},
               :content {:text "[:span]", :image 1690211343079},
               :properties {:color "yellow"}}
              {:id #uuid "64be9423-984e-4e7c-8716-3126dd441055",
               :page 16,
               :position {:bounding {:x1 223,
                                     :y1 581.6279296875,
                                     :x2 492,
                                     :y2 675.6279296875,
                                     :width 652.0000000000001,
                                     :height 843.7647058823532},
                          :rects (),
                          :page 16},
               :content {:text "[:span]", :image 1690211361542},
               :properties {:color "yellow"}}],
 :extra {:page 16}}
