{:highlights [{:id #uuid "64b2e6c8-662e-4125-a933-94f6530c5492",
               :page 4,
               :position {:bounding {:x1 0,
                                     :y1 509.62339782714844,
                                     :x2 886.5086860656738,
                                     :y2 915.0045471191406,
                                     :width 979.1999999999999,
                                     :height 1267.1999999999998},
                          :rects ({:x1 0,
                                   :y1 509.62339782714844,
                                   :x2 0,
                                   :y2 529.2388000488281,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}
                                  {:x1 0,
                                   :y1 525.6198577880859,
                                   :x2 0,
                                   :y2 545.2352600097656,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}
                                  {:x1 143.22548294067383,
                                   :y1 847.8005676269531,
                                   :x2 886.5086860656738,
                                   :y2 868.9248657226562,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}
                                  {:x1 115.19336700439453,
                                   :y1 870.8345336914062,
                                   :x2 886.3329544067383,
                                   :y2 891.9588317871094,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}
                                  {:x1 115.19336700439453,
                                   :y1 893.8802795410156,
                                   :x2 282.8925552368164,
                                   :y2 915.0045471191406,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}),
                          :page 4},
               :content {:text "The notion of anyons assumes that the underlying state has an energy gap (at least for topologically nontrivial quasiparticles). Otherwise excitations are not localizable and braiding may not be defined."},
               :properties {:color "red"}}
              {:id #uuid "64b2f056-5e56-4869-b5a3-71deffe4e403",
               :page 7,
               :position {:bounding {:x1 143.22547912597656,
                                     :y1 832.0457458496094,
                                     :x2 184.5774154663086,
                                     :y2 853.1700286865234,
                                     :width 979.1999999999999,
                                     :height 1267.1999999999998},
                          :rects ({:x1 143.22547912597656,
                                   :y1 832.0457458496094,
                                   :x2 184.5774154663086,
                                   :y2 853.1700286865234,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}),
                          :page 7},
               :content {:text "Here"},
               :properties {:color "yellow"}}
              {:id #uuid "64b2f114-c11e-4775-8755-7d6c6b967ffb",
               :page 8,
               :position {:bounding {:x1 194.29744720458984,
                                     :y1 320.3653564453125,
                                     :x2 222.10667419433594,
                                     :y2 341.4896240234375,
                                     :width 979.1999999999999,
                                     :height 1267.1999999999998},
                          :rects ({:x1 194.29744720458984,
                                   :y1 320.3653564453125,
                                   :x2 222.10667419433594,
                                   :y2 341.4896240234375,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}),
                          :page 8},
               :content {:text "can"},
               :properties {:color "yellow"}}
              {:id #uuid "64b2f4f6-a87c-4d76-93a6-e29234589b11",
               :page 10,
               :position {:bounding {:x1 185.514892578125,
                                     :y1 382.98828125,
                                     :x2 620.514892578125,
                                     :y2 621.98828125,
                                     :width 979.1999999999999,
                                     :height 1267.1999999999998},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1689449717398},
               :properties {:color "yellow"}}
              {:id #uuid "64b2f58e-6dcc-4ad7-ad98-5226751aebbb",
               :page 10,
               :position {:bounding {:x1 218.4365005493164,
                                     :y1 1034.423828125,
                                     :x2 348.4365005493164,
                                     :y2 1163.423828125,
                                     :width 979.1999999999999,
                                     :height 1267.1999999999998},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1689449868943},
               :properties {:color "yellow"}}
              {:id #uuid "64b44b79-886b-4eb4-ad32-9158770a65fa",
               :page 13,
               :position {:bounding {:x1 188.63180541992188,
                                     :y1 68.1337890625,
                                     :x2 622.6318054199219,
                                     :y2 285.1337890625,
                                     :width 816,
                                     :height 1056},
                          :rects (),
                          :page 13},
               :content {:text "[:span]", :image 1689537399539},
               :properties {:color "yellow"}}
              {:id #uuid "64b44b9c-9c41-4142-a64e-968b5e4dbe19",
               :page 12,
               :position {:bounding {:x1 225.63180541992188,
                                     :y1 145.689453125,
                                     :x2 286.6318054199219,
                                     :y2 210.689453125,
                                     :width 816,
                                     :height 1056},
                          :rects (),
                          :page 12},
               :content {:text "[:span]", :image 1689537434912},
               :properties {:color "yellow"}}
              {:id #uuid "64b5a006-d313-41a7-a875-e5bec6e3b0cd",
               :page 14,
               :position {:bounding {:x1 1137.1512756347656,
                                     :y1 762.8873443603516,
                                     :x2 1181.7199401855469,
                                     :y2 790.9865112304688,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 1137.1512756347656,
                                   :y1 762.8873443603516,
                                   :x2 1181.7199401855469,
                                   :y2 790.9865112304688,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 14},
               :content {:text "(17)"},
               :properties {:color "yellow"}}
              {:id #uuid "64c2c028-bfa3-41b9-bc70-d5f70b943a13",
               :page 17,
               :position {:bounding {:x1 175.2313995361328,
                                     :y1 656.544921875,
                                     :x2 292.2313995361328,
                                     :y2 780.544921875,
                                     :width 816,
                                     :height 1056},
                          :rects (),
                          :page 17},
               :content {:text "[:span]", :image 1690484774962},
               :properties {:color "yellow"}}
              {:id #uuid "64c2c17e-d382-461c-8c36-d7caf82af369",
               :page 18,
               :position {:bounding {:x1 201.81817626953125,
                                     :y1 41.544921875,
                                     :x2 614.8181762695312,
                                     :y2 324.544921875,
                                     :width 816,
                                     :height 1056},
                          :rects (),
                          :page 18},
               :content {:text "[:span]", :image 1690485117716},
               :properties {:color "yellow"}}
              {:id #uuid "64c2c9ae-6344-4ceb-8942-4072166bf782",
               :page 33,
               :position {:bounding {:x1 125.49586486816406,
                                     :y1 305.26171875,
                                     :x2 426.49586486816406,
                                     :y2 447.26171875,
                                     :width 897.6,
                                     :height 1161.6000000000001},
                          :rects (),
                          :page 33},
               :content {:text "[:span]", :image 1690487213239},
               :properties {:color "yellow"}}
              {:id #uuid "64cdaf2b-8ee3-468a-b16e-f7c2f1bb30f3",
               :page 32,
               :position {:bounding {:x1 0,
                                     :y1 493.50463104248047,
                                     :x2 598.0192794799805,
                                     :y2 610.1885070800781,
                                     :width 661,
                                     :height 855.4117647058823},
                          :rects ({:x1 0,
                                   :y1 493.50463104248047,
                                   :x2 0,
                                   :y2 513.3393402099609,
                                   :width 661,
                                   :height 855.4117647058823}
                                  {:x1 96.6812973022461,
                                   :y1 577.156494140625,
                                   :x2 598.0192794799805,
                                   :y2 591.2060699462891,
                                   :width 661,
                                   :height 855.4117647058823}
                                  {:x1 77.763427734375,
                                   :y1 592.8331451416016,
                                   :x2 168.55996704101562,
                                   :y2 610.1885070800781,
                                   :width 661,
                                   :height 855.4117647058823}),
                          :page 32},
               :content {:text "Braiding rules for Majorana half-vortices in a spin-triplet superconductor have been derived by D. Ivanov [6"},
               :properties {:color "yellow"}}],
 :extra {:page 32}}
