{:highlights [{:id #uuid "65142b26-ea97-414e-8aa0-cfbb3f2c2267",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 771.7458190917969,
                                     :x2 1136.447509765625,
                                     :y2 849.3284606933594,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 634.0262832641602,
                                   :y1 771.7458190917969,
                                   :x2 1136.447509765625,
                                   :y2 794.0598449707031,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 634.0262832641602,
                                   :y1 794.5570068359375,
                                   :x2 1124.2618408203125,
                                   :y2 816.8710632324219,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 0,
                                   :y1 813.907470703125,
                                   :x2 0,
                                   :y2 833.3289794921875,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 634.0262832641602,
                                   :y1 817.6846008300781,
                                   :x2 679.4171142578125,
                                   :y2 839.5854187011719,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 0,
                                   :y1 829.9069519042969,
                                   :x2 0,
                                   :y2 849.3284606933594,
                                   :width 1224,
                                   :height 1584}),
                          :page 2},
               :content {:text "Translational invariance allows us to represent the state |Ψ〉 in terms of only two tensors A and B that are repeated indeﬁnitely"},
               :properties {:color "purple"}}
              {:id #uuid "65142b4a-44a2-4263-aa94-46cec449c012",
               :page 2,
               :position {:bounding {:x1 109.87602996826172,
                                     :y1 249.76025390625,
                                     :x2 316.8760299682617,
                                     :y2 432.76025390625,
                                     :width 1224,
                                     :height 1584},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1695820617340},
               :properties {:color "yellow"}}
              {:id #uuid "65142bc0-4700-4a20-bc2f-ed6b1aaf1b85",
               :page 2,
               :position {:bounding {:x1 631.7520751953125,
                                     :y1 96.2396240234375,
                                     :x2 1157.7520751953125,
                                     :y2 542.2396240234375,
                                     :width 1224,
                                     :height 1584},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1695820734743},
               :properties {:color "yellow"}}
              {:id #uuid "65142c4c-ffbf-48cf-878d-85e251503d92",
               :page 2,
               :position {:bounding {:x1 689.8023376464844,
                                     :y1 1150.4777221679688,
                                     :x2 757.6364440917969,
                                     :y2 1172.3785400390625,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 689.8023376464844,
                                   :y1 1150.4777221679688,
                                   :x2 757.6364440917969,
                                   :y2 1172.3785400390625,
                                   :width 1224,
                                   :height 1584}),
                          :page 2},
               :content {:text "ﬁrst step"},
               :properties {:color "yellow"}}
              {:id #uuid "65142ce1-1146-4537-98ba-a4e564d9c34b",
               :page 3,
               :position {:bounding {:x1 125.83470916748047,
                                     :y1 95.239501953125,
                                     :x2 409.83470916748047,
                                     :y2 322.239501953125,
                                     :width 1224,
                                     :height 1584},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1695821025004},
               :properties {:color "yellow"}}
              {:id #uuid "65142d60-dbcd-47a5-bf31-b6cee9c46f4f",
               :page 3,
               :position {:bounding {:x1 178.2906494140625,
                                     :y1 1006.4953002929688,
                                     :x2 269.7768249511719,
                                     :y2 1028.3961181640625,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 178.2906494140625,
                                   :y1 1006.4953002929688,
                                   :x2 269.7768249511719,
                                   :y2 1028.3961181640625,
                                   :width 1224,
                                   :height 1584}),
                          :page 3},
               :content {:text "second step"},
               :properties {:color "yellow"}}
              {:id #uuid "65142de1-8a1d-459b-823f-d6e3870c85d7",
               :page 3,
               :position {:bounding {:x1 439,
                                     :y1 93.239501953125,
                                     :x2 567,
                                     :y2 329.239501953125,
                                     :width 1224,
                                     :height 1584},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1695821281107},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
