{:highlights [{:id #uuid "65e7e4b7-482e-4ba7-8c0c-27c104f72d5f",
               :page 16,
               :position {:bounding {:x1 133.16571807861328,
                                     :y1 729.2829971313477,
                                     :x2 248.28319549560547,
                                     :y2 747.8421936035156,
                                     :width 732.2833333333333,
                                     :height 1110.2366666666667},
                          :rects ({:x1 133.16571807861328,
                                   :y1 729.2829971313477,
                                   :x2 248.28319549560547,
                                   :y2 747.8421936035156,
                                   :width 732.2833333333333,
                                   :height 1110.2366666666667}),
                          :page 16},
               :content {:text "Useful Relations"},
               :properties {:color "yellow"}}
              {:id #uuid "65e7ea35-e520-4b50-ac11-9327a560230a",
               :page 17,
               :position {:bounding {:x1 201.98684692382812,
                                     :y1 263.8178253173828,
                                     :x2 220.38336181640625,
                                     :y2 287.35630798339844,
                                     :width 937.3226666666667,
                                     :height 1421.1029333333333},
                          :rects ({:x1 201.98684692382812,
                                   :y1 263.8178253173828,
                                   :x2 220.38336181640625,
                                   :y2 287.35630798339844,
                                   :width 937.3226666666667,
                                   :height 1421.1029333333333}),
                          :page 17},
               :content {:text "⇒"},
               :properties {:color "yellow"}}
              {:id #uuid "65e7eb45-5b1c-48d7-9919-f23aa59d8e6d",
               :page 19,
               :position {:bounding {:x1 156.84781646728516,
                                     :y1 98.121826171875,
                                     :x2 189.22612762451172,
                                     :y2 113.96502685546875,
                                     :width 732.2833333333333,
                                     :height 1110.2366666666667},
                          :rects ({:x1 156.84781646728516,
                                   :y1 98.121826171875,
                                   :x2 189.22612762451172,
                                   :y2 113.96502685546875,
                                   :width 732.2833333333333,
                                   :height 1110.2366666666667}),
                          :page 19},
               :content {:text "Table"},
               :properties {:color "yellow"}}
              {:id #uuid "65ee7d6f-dc98-42c8-8ac2-4d73af60d219",
               :page 29,
               :position {:bounding {:x1 659.2016296386719,
                                     :y1 1611.5355224609375,
                                     :x2 723.0022888183594,
                                     :y2 1651.5222778320312,
                                     :width 1581.732,
                                     :height 2398.1112000000003},
                          :rects ({:x1 659.2016296386719,
                                   :y1 1611.5355224609375,
                                   :x2 723.0022888183594,
                                   :y2 1651.5222778320312,
                                   :width 1581.732,
                                   :height 2398.1112000000003}),
                          :page 29},
               :content {:text "ﬁeld"},
               :properties {:color "yellow"}}
              {:id #uuid "65fd30d3-bf8e-414d-a2b0-dbf130f0bd46",
               :page 36,
               :position {:bounding {:x1 113.19096374511719,
                                     :y1 95.4666748046875,
                                     :x2 172.1566619873047,
                                     :y2 113.57321166992188,
                                     :width 732.2833333333333,
                                     :height 1110.2366666666667},
                          :rects ({:x1 113.19096374511719,
                                   :y1 95.4666748046875,
                                   :x2 172.1566619873047,
                                   :y2 113.57321166992188,
                                   :width 732.2833333333333,
                                   :height 1110.2366666666667}),
                          :page 36},
               :content {:text "calculate"},
               :properties {:color "yellow"}}
              {:id #uuid "66022b92-6d30-4492-aaa9-060a16f31918",
               :page 39,
               :position {:bounding {:x1 67.97044944763184,
                                     :y1 93.55859375,
                                     :x2 628.9704494476318,
                                     :y2 309.55859375,
                                     :width 702.992,
                                     :height 1065.8272},
                          :rects (),
                          :page 39},
               :content {:text "[:span]", :image 1711418257005},
               :properties {:color "yellow"}}],
 :extra {:page 40}}
