{:highlights [{:id #uuid "64e76507-d1d7-4ed7-98af-a55ca862caa7",
               :page 211,
               :position {:bounding {:x1 228.38970947265625,
                                     :y1 435.67921447753906,
                                     :x2 276.0833435058594,
                                     :y2 446.83624267578125,
                                     :width 495,
                                     :height 706.1029411764705},
                          :rects ({:x1 228.38970947265625,
                                   :y1 435.67921447753906,
                                   :x2 276.0833435058594,
                                   :y2 446.83624267578125,
                                   :width 495,
                                   :height 706.1029411764705}),
                          :page 211},
               :content {:text "φ 4 -theory"},
               :properties {:color "yellow"}}],
 :extra {:page 214}}
