{:highlights [{:id #uuid "6490005e-30b8-467a-9f40-945184dc7913",
               :page 3,
               :position {:bounding {:x1 0,
                                     :y1 525.7140274047852,
                                     :x2 579.7607574462891,
                                     :y2 907.9574279785156,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 0,
                                   :y1 525.7140274047852,
                                   :x2 0,
                                   :y2 545.3339385986328,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 124.79592895507812,
                                   :y1 866.6483154296875,
                                   :x2 579.7607574462891,
                                   :y2 887.0857238769531,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 200.15888214111328,
                                   :y1 887.52001953125,
                                   :x2 505.9174270629883,
                                   :y2 907.9574279785156,
                                   :width 1224,
                                   :height 1584}),
                          :page 3},
               :content {:text "III. HOMOTOPY GROUP CLASSIFICATION OF EVOLUTION OPERATORS"},
               :properties {:color "yellow"}}],
 :extra {:page 3}}
