{:highlights [{:id #uuid "65103d00-8b51-43aa-9f37-4c6bc709b75c",
               :page 24,
               :position {:bounding {:x1 214.04957580566406,
                                     :y1 999.0830993652344,
                                     :x2 285.8026580810547,
                                     :y2 1016.8516845703125,
                                     :width 979.1999999999999,
                                     :height 1267.1999999999998},
                          :rects ({:x1 214.04957580566406,
                                   :y1 999.0830993652344,
                                   :x2 285.8026580810547,
                                   :y2 1016.8516845703125,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}),
                          :page 24},
               :content {:text "Theorem"},
               :properties {:color "yellow"}}],
 :extra {:page 24}}
