{:highlights [{:id #uuid "64d93fd7-f3bf-42d9-a6fe-966c02a074d6",
               :page 3,
               :position {:bounding {:x1 0,
                                     :y1 399.41888427734375,
                                     :x2 638.1028990969062,
                                     :y2 454.3904724121094,
                                     :width 818.0000000000001,
                                     :height 1058.5882352941178},
                          :rects ({:x1 157.65752556174994,
                                   :y1 399.41888427734375,
                                   :x2 638.1028990969062,
                                   :y2 425.03871154785156,
                                   :width 818.0000000000001,
                                   :height 1058.5882352941178}
                                  {:x1 0,
                                   :y1 413.5072021484375,
                                   :x2 0,
                                   :y2 433.3419189453125,
                                   :width 818.0000000000001,
                                   :height 1058.5882352941178}
                                  {:x1 157.65752556174994,
                                   :y1 428.7706298828125,
                                   :x2 360.630441211164,
                                   :y2 454.3904724121094,
                                   :width 818.0000000000001,
                                   :height 1058.5882352941178}),
                          :page 3},
               :content {:text "Projective representations of finite abelian groups and GCAs"},
               :properties {:color "yellow"}}],
 :extra {:page 5}}
