{:highlights [{:id #uuid "65162fcb-b5f4-4d8e-9538-589a13f1261c",
               :page 52,
               :position {:bounding {:x1 152.31404876708984,
                                     :y1 191.37109375,
                                     :x2 728.3140487670898,
                                     :y2 322.37109375,
                                     :width 872.6666666666667,
                                     :height 1234.9333333333334},
                          :rects (),
                          :page 52},
               :content {:text "[:span]", :image 1695952842452},
               :properties {:color "yellow"}}],
 :extra {:page 108}}
