{:highlights [{:id #uuid "660bef61-62e8-4cad-8314-08ca2390f132",
               :page 2,
               :position {:bounding {:x1 518,
                                     :y1 73.80712890625,
                                     :x2 944,
                                     :y2 374.80712890625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1712058207963},
               :properties {:color "yellow"}}
              {:id #uuid "660bf03c-6661-48a7-973c-10f61f7b26e4",
               :page 3,
               :position {:bounding {:x1 88,
                                     :y1 235.652587890625,
                                     :x2 544,
                                     :y2 384.652587890625,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1712058427327},
               :properties {:color "yellow"}}],
 :extra {:page 6}}
