{:highlights [{:id #uuid "65275b5f-e6cf-4b38-be66-146e9f7718ec",
               :page 3,
               :position {:bounding {:x1 230.95944213867188,
                                     :y1 396.0872802734375,
                                     :x2 240.41998291015625,
                                     :y2 404.76495361328125,
                                     :width 495,
                                     :height 659.9608912064471},
                          :rects ({:x1 230.95944213867188,
                                   :y1 396.0872802734375,
                                   :x2 240.41998291015625,
                                   :y2 404.76495361328125,
                                   :width 495,
                                   :height 659.9608912064471}),
                          :page 3},
               :content {:text "(2)"},
               :properties {:color "yellow"}}],
 :extra {:page 3}}
