{:highlights [{:id #uuid "661362d0-39dd-4f56-bddd-3a548458a556",
               :page 6,
               :position {:bounding {:x1 375.0315246582031,
                                     :y1 459.0359191894531,
                                     :x2 664.8981323242188,
                                     :y2 483.2604675292969,
                                     :width 723.9999999999999,
                                     :height 936.9411764705881},
                          :rects ({:x1 375.0315246582031,
                                   :y1 459.0359191894531,
                                   :x2 664.8981323242188,
                                   :y2 470.80517578125,
                                   :width 723.9999999999999,
                                   :height 936.9411764705881}
                                  {:x1 411.37188720703125,
                                   :y1 471.4912414550781,
                                   :x2 627.7989501953125,
                                   :y2 483.2604675292969,
                                   :width 723.9999999999999,
                                   :height 936.9411764705881}),
                          :page 6},
               :content {:text "V. THE DUALITY BETWEEN ZN STRING–NET MODELS AND (SPT) SPIN MODELS"},
               :properties {:color "yellow"}}],
 :extra {:page 10}}
