{:highlights [{:id #uuid "6622284d-e9cf-450e-902e-0db2d25fe20b",
               :page 182,
               :position {:bounding {:x1 739,
                                     :y1 401.15625,
                                     :x2 1077,
                                     :y2 698.15625,
                                     :width 1154.1333333333332,
                                     :height 1478.4},
                          :rects (),
                          :page 182},
               :content {:text "[:span]", :image 1713514572044},
               :properties {:color "yellow"}}
              {:id #uuid "66222bd6-005f-4d64-845c-ad0ce6fbb2e8",
               :page 188,
               :position {:bounding {:x1 39,
                                     :y1 466.046875,
                                     :x2 444,
                                     :y2 643.046875,
                                     :width 710.0000000000001,
                                     :height 909.482439926063},
                          :rects (),
                          :page 188},
               :content {:text "[:span]", :image 1713515477316},
               :properties {:color "yellow"}}
              {:id #uuid "66222c07-ea92-4a0c-a11f-e13c61c2c680",
               :page 189,
               :position {:bounding {:x1 273,
                                     :y1 90.765625,
                                     :x2 479,
                                     :y2 280.765625,
                                     :width 710.0000000000001,
                                     :height 909.482439926063},
                          :rects (),
                          :page 189},
               :content {:text "[:span]", :image 1713515526032},
               :properties {:color "yellow"}}],
 :extra {:page 189}}
