{:highlights [{:id #uuid "65407998-3c91-4199-be46-0dfe01a0466d",
               :page 1,
               :position {:bounding {:x1 412,
                                     :y1 289,
                                     :x2 601,
                                     :y2 415,
                                     :width 773,
                                     :height 1000.3529411764705},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1698724247644},
               :properties {:color "yellow"}}
              {:id #uuid "654079a5-469f-440c-9382-ed8959e77374",
               :page 1,
               :position {:bounding {:x1 888.6417846679688,
                                     :y1 428,
                                     :x2 1006.6417846679688,
                                     :y2 612,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1698724260198},
               :properties {:color "yellow"}}],
 :extra {:page 8}}
