{:highlights [{:id #uuid "650ff77e-fd02-4fea-9b2f-a730f9c8cf9e",
               :page 2,
               :position {:bounding {:x1 659.6611328125,
                                     :y1 102.9586181640625,
                                     :x2 1108.6611328125,
                                     :y2 388.9586181640625,
                                     :width 1224,
                                     :height 1584},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1695545212649},
               :properties {:color "yellow"}}
              {:id #uuid "650ff882-aae0-483c-a8ae-166a8092d600",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 1210.3563232421875,
                                     :x2 1124.1268920898438,
                                     :y2 1345.3124084472656,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 1011.7574462890625,
                                   :y1 1210.3563232421875,
                                   :x2 1124.1268920898438,
                                   :y2 1232.6703796386719,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 634.0263271331787,
                                   :y1 1234.2716064453125,
                                   :x2 1123.6969509124756,
                                   :y2 1256.5856628417969,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 634.0263271331787,
                                   :y1 1258.193359375,
                                   :x2 1122.9959621429443,
                                   :y2 1280.5074157714844,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 634.0263271331787,
                                   :y1 1282.108642578125,
                                   :x2 1118.6916408538818,
                                   :y2 1304.4226989746094,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 0,
                                   :y1 1293.8919677734375,
                                   :x2 0,
                                   :y2 1313.3134460449219,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 0,
                                   :y1 1309.8914489746094,
                                   :x2 0,
                                   :y2 1329.3129272460938,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 0,
                                   :y1 1325.8909301757812,
                                   :x2 0,
                                   :y2 1345.3124084472656,
                                   :width 1224,
                                   :height 1584}),
                          :page 2},
               :content {:text "If the gauge symmetry is not preserved in each step of TRG, the approach will be ruined by errors. And more importantly, the RG ﬂow will arrive at some wrong ﬁxed point tensors"},
               :properties {:color "red"}}
              {:id #uuid "650ff954-df56-4dfe-8b15-e19b07bd6c40",
               :page 3,
               :position {:bounding {:x1 0,
                                     :y1 77.93129920959473,
                                     :x2 598.0184555053711,
                                     :y2 296.37137603759766,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 0,
                                   :y1 77.93129920959473,
                                   :x2 0,
                                   :y2 97.35278701782227,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 0,
                                   :y1 93.93078231811523,
                                   :x2 0,
                                   :y2 113.35226821899414,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 165.20980072021484,
                                   :y1 226.22028350830078,
                                   :x2 598.0184555053711,
                                   :y2 248.53433990478516,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 107.95453834533691,
                                   :y1 250.13558197021484,
                                   :x2 597.6529941558838,
                                   :y2 272.44962310791016,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 107.95453834533691,
                                   :y1 274.0573196411133,
                                   :x2 381.94922828674316,
                                   :y2 296.37137603759766,
                                   :width 1224,
                                   :height 1584}),
                          :page 3},
               :content {:text "It was concluded that by inserting gauge transformation tensors to TNS, a set of basis for the degenerate ground space will be obtained"},
               :properties {:color "yellow"}}
              {:id #uuid "650ffca2-cf1e-4d20-8b53-f182b43eef45",
               :page 3,
               :position {:bounding {:x1 672.495849609375,
                                     :y1 101.8759765625,
                                     :x2 1094.495849609375,
                                     :y2 392.8759765625,
                                     :width 1224,
                                     :height 1584},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1695546529256},
               :properties {:color "yellow"}}],
 :extra {:page 3}}
