{:highlights [{:id #uuid "651a659e-4772-4b4e-927a-58b269fb9640",
               :page 2,
               :position {:bounding {:x1 799.8016357421875,
                                     :y1 149.52880859375,
                                     :x2 1269.8016357421875,
                                     :y2 428.52880859375,
                                     :width 1458.0864,
                                     :height 1944},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1696228763851},
               :properties {:color "yellow"}}
              {:id #uuid "651a6af9-ff1b-42b4-907b-0634cd8936e5",
               :page 3,
               :position {:bounding {:x1 191,
                                     :y1 1550.90087890625,
                                     :x2 638,
                                     :y2 1698.90087890625,
                                     :width 1458.0864,
                                     :height 1944},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1696230134756},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
