{:highlights [{:id #uuid "64f5d330-ec2a-4cc1-9885-5bc742c94388",
               :page 3,
               :position {:bounding {:x1 282,
                                     :y1 36,
                                     :x2 530,
                                     :y2 158,
                                     :width 560,
                                     :height 724.7058823529411},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1693831983065},
               :properties {:color "yellow"}}
              {:id #uuid "650ff0f8-64a5-4bba-b222-b4ea13ec0911",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 99.28976440429688,
                                     :x2 1049.1457481384277,
                                     :y2 1105.3201446533203,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects ({:x1 610.3757438659668,
                                   :y1 99.28976440429688,
                                   :x2 1048.140453338623,
                                   :y2 120.36414337158203,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 591.7548789978027,
                                   :y1 121.61027526855469,
                                   :x2 1049.1457481384277,
                                   :y2 142.68465423583984,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 591.7548789978027,
                                   :y1 143.9372329711914,
                                   :x2 665.014461517334,
                                   :y2 165.01161193847656,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 0,
                                   :y1 1069.8992462158203,
                                   :x2 0,
                                   :y2 1089.3207550048828,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 0,
                                   :y1 1085.8987579345703,
                                   :x2 0,
                                   :y2 1105.3201446533203,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}),
                          :page 2},
               :content {:text "A local tensor representation of a wave function however is not enough, it must be equipped with a gauge structure"},
               :properties {:color "yellow"}}
              {:id #uuid "650ff18f-50f3-4ca0-bd16-c7f88688c75d",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 500.9684753417969,
                                     :x2 1049.1704711914062,
                                     :y2 1425.309814453125,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects ({:x1 890.3796081542969,
                                   :y1 500.9684753417969,
                                   :x2 1049.1704711914062,
                                   :y2 522.0428466796875,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 591.7548789978027,
                                   :y1 523.2889709472656,
                                   :x2 1049.1486778259277,
                                   :y2 544.3633422851562,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 591.7548789978027,
                                   :y1 545.6159362792969,
                                   :x2 1049.144130706787,
                                   :y2 566.6903076171875,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 591.7548789978027,
                                   :y1 567.9364318847656,
                                   :x2 1049.1305198669434,
                                   :y2 589.0108337402344,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 591.7548789978027,
                                   :y1 590.2633972167969,
                                   :x2 708.786449432373,
                                   :y2 611.3377685546875,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 0,
                                   :y1 1357.889892578125,
                                   :x2 0,
                                   :y2 1377.3114013671875,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 0,
                                   :y1 1373.889404296875,
                                   :x2 0,
                                   :y2 1393.3109130859375,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 0,
                                   :y1 1389.888916015625,
                                   :x2 0,
                                   :y2 1409.310302734375,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 0,
                                   :y1 1405.8883056640625,
                                   :x2 0,
                                   :y2 1425.309814453125,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}),
                          :page 2},
               :content {:text "Furthermore it was shown that 2-IGG contains information about string operators and can be used to construct the full set of degenerate ground states on the torus from a local tensor representation"},
               :properties {:color "yellow"}}
              {:id #uuid "650ff28e-c1f5-41e0-890b-f6a5d9e63e46",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 634.9108734130859,
                                     :x2 1049.198112487793,
                                     :y2 1489.3077697753906,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects ({:x1 684.6332321166992,
                                   :y1 634.9108734130859,
                                   :x2 1049.198112487793,
                                   :y2 655.9852600097656,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 591.7548789978027,
                                   :y1 657.2378387451172,
                                   :x2 1049.1456565856934,
                                   :y2 678.3122253417969,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 591.7548789978027,
                                   :y1 679.558349609375,
                                   :x2 653.4922409057617,
                                   :y2 700.6327209472656,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 0,
                                   :y1 1453.8868103027344,
                                   :x2 0,
                                   :y2 1473.3083190917969,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 0,
                                   :y1 1469.8863220214844,
                                   :x2 0,
                                   :y2 1489.3077697753906,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}),
                          :page 2},
               :content {:text "From this gauge structure we can twist the tensor to get the full set of ground states on a torus [32,34, 35]."},
               :properties {:color "yellow"}}
              {:id #uuid "650ff431-27ea-4863-ba68-592027ad769e",
               :page 2,
               :position {:bounding {:x1 606.0908813476562,
                                     :y1 978.363525390625,
                                     :x2 1030.0908813476562,
                                     :y2 1034.363525390625,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1695544367546},
               :properties {:color "yellow"}}],
 :extra {:page 3}}
