{:highlights [{:id #uuid "65446513-8bea-4819-b4f1-4881c8e1d2a2",
               :page 7,
               :position {:bounding {:x1 116,
                                     :y1 532.49267578125,
                                     :x2 617,
                                     :y2 821.49267578125,
                                     :width 764,
                                     :height 988.7058823529412},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1698981138011},
               :properties {:color "yellow"}}
              {:id #uuid "65446525-a79a-4872-a645-b263b892e3c7",
               :page 8,
               :position {:bounding {:x1 189,
                                     :y1 147.30419921875,
                                     :x2 569,
                                     :y2 383.30419921875,
                                     :width 764,
                                     :height 988.7058823529412},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1698981155868},
               :properties {:color "yellow"}}],
 :extra {:page 7}}
