{:highlights [{:id #uuid "653f5781-f60d-47d6-8640-01e4ebb14e74",
               :page 1,
               :position {:bounding {:x1 824.2559509277344,
                                     :y1 672.2478332519531,
                                     :x2 1175.2559509277344,
                                     :y2 883.2478332519531,
                                     :width 1387.2,
                                     :height 1795.2},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1698649984497},
               :properties {:color "yellow"}}
              {:id #uuid "653f5aab-5a3b-4879-841e-eecfb181b0fc",
               :page 4,
               :position {:bounding {:x1 697.5766830444336,
                                     :y1 1495.0221557617188,
                                     :x2 915.1153182983398,
                                     :y2 1518.9227905273438,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 697.5766830444336,
                                   :y1 1495.0221557617188,
                                   :x2 915.1153182983398,
                                   :y2 1518.9227905273438,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 4},
               :content {:text "Further generalizations "},
               :properties {:color "yellow"}}],
 :extra {:page 4}}
