{:highlights [{:id #uuid "648ee2cf-a2fd-4d2d-bcd9-f012d49f45b2",
               :page 71,
               :position {:bounding {:x1 98.28960418701172,
                                     :y1 690.875,
                                     :x2 724.2896041870117,
                                     :y2 918.875,
                                     :width 816,
                                     :height 1056},
                          :rects (),
                          :page 71},
               :content {:text "[:span]", :image 1687085773497},
               :properties {:color "yellow"}}
              {:id #uuid "64a17b22-43f8-4b3b-a7fc-9bf80e1ce7d7",
               :page 75,
               :position {:bounding {:x1 99.7426986694336,
                                     :y1 679.015625,
                                     :x2 714.7426986694336,
                                     :y2 819.015625,
                                     :width 816,
                                     :height 1056},
                          :rects (),
                          :page 75},
               :content {:text "[:span]", :image 1688304416681},
               :properties {:color "yellow"}}
              {:id #uuid "64bd28de-7287-4552-b23e-67631b23f109",
               :page 412,
               :position {:bounding {:x1 146.59503936767578,
                                     :y1 544.5625,
                                     :x2 393.5950393676758,
                                     :y2 680.5625,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects (),
                          :page 412},
               :content {:text "[:span]", :image 1690118365361},
               :properties {:color "yellow"}}
              {:id #uuid "64bd28ef-b6de-4635-be16-4a03d8dbf8a8",
               :page 412,
               :position {:bounding {:x1 405.4132080078125,
                                     :y1 554.5625,
                                     :x2 598.4132080078125,
                                     :y2 764.5625,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects (),
                          :page 412},
               :content {:text "[:span]", :image 1690118382401},
               :properties {:color "yellow"}}
              {:id #uuid "64bd28fa-1324-424a-b745-444b77e57122",
               :page 412,
               :position {:bounding {:x1 616.4132080078125,
                                     :y1 552.5625,
                                     :x2 762.4132080078125,
                                     :y2 766.5625,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects (),
                          :page 412},
               :content {:text "[:span]", :image 1690118393188},
               :properties {:color "yellow"}}
              {:id #uuid "64bd2903-b5b4-4f57-9253-3ab08ba6da3d",
               :page 412,
               :position {:bounding {:x1 786.4132080078125,
                                     :y1 551.5625,
                                     :x2 958.4132080078125,
                                     :y2 775.5625,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects (),
                          :page 412},
               :content {:text "[:span]", :image 1690118401521},
               :properties {:color "yellow"}}
              {:id #uuid "64bd2bce-b307-4e0f-a117-fbc5e02a040e",
               :page 402,
               :position {:bounding {:x1 113.49586486816406,
                                     :y1 769.25,
                                     :x2 438.49586486816406,
                                     :y2 1017.25,
                                     :width 897.6,
                                     :height 1161.6000000000001},
                          :rects (),
                          :page 402},
               :content {:text "[:span]", :image 1690119117156},
               :properties {:color "yellow"}}
              {:id #uuid "64bd2bde-5a74-4a34-9e84-a6747a670d0d",
               :page 402,
               :position {:bounding {:x1 447.2396545410156,
                                     :y1 769.25,
                                     :x2 774.2396545410156,
                                     :y2 944.25,
                                     :width 897.6,
                                     :height 1161.6000000000001},
                          :rects (),
                          :page 402},
               :content {:text "[:span]", :image 1690119131869},
               :properties {:color "yellow"}}
              {:id #uuid "64bd3006-d6a8-448c-a7db-63dd08cc42a4",
               :page 472,
               :position {:bounding {:x1 84,
                                     :y1 61.6875,
                                     :x2 567,
                                     :y2 248.6875,
                                     :width 620,
                                     :height 802.3529411764705},
                          :rects (),
                          :page 472},
               :content {:text "[:span]", :image 1690120196576},
               :properties {:color "yellow"}}
              {:id #uuid "64c45f1b-30e9-4dbb-a3d2-a82b003b8761",
               :page 517,
               :position {:bounding {:x1 71,
                                     :y1 66.5625,
                                     :x2 566,
                                     :y2 369.5625,
                                     :width 617,
                                     :height 798.4705882352941},
                          :rects (),
                          :page 517},
               :content {:text "[:span]", :image 1690591002533},
               :properties {:color "yellow"}}],
 :extra {:page 75}}
