{:highlights [{:id #uuid "63e38a70-4b41-476b-b989-2419e008da6d",
               :page 213,
               :position {:bounding {:x1 447.45298767089844,
                                     :y1 368.03940176963806,
                                     :x2 597.9377288818359,
                                     :y2 387.6593358516693,
                                     :width 734.9999999999999,
                                     :height 1110},
                          :rects ({:x1 447.45298767089844,
                                   :y1 368.03940176963806,
                                   :x2 597.9377288818359,
                                   :y2 387.6593358516693,
                                   :width 734.9999999999999,
                                   :height 1110}),
                          :page 213},
               :content {:text "Feynman parameters"},
               :properties {:color "yellow"}}
              {:id #uuid "63ffff79-50ef-4e99-ba37-3b954eb8e638",
               :page 246,
               :position {:bounding {:x1 683.5161907225847,
                                     :y1 525.9328308105469,
                                     :x2 771.6801921874285,
                                     :y2 554.5895385742188,
                                     :width 1141,
                                     :height 1723.1428571428573},
                          :rects ({:x1 683.5161907225847,
                                   :y1 525.9328308105469,
                                   :x2 771.6801921874285,
                                   :y2 554.5895385742188,
                                   :width 1141,
                                   :height 1723.1428571428573}),
                          :page 246},
               :content {:text "analyze"},
               :properties {:color "yellow"}}
              {:id #uuid "640458fa-7092-47a3-a5db-acb4759ce58a",
               :page 504,
               :position {:bounding {:x1 0,
                                     :y1 189.73880004882812,
                                     :x2 1201.5728073120117,
                                     :y2 1013.7826232910156,
                                     :width 1352.3999999999999,
                                     :height 2042.3999999999999},
                          :rects ({:x1 0,
                                   :y1 189.73880004882812,
                                   :x2 0,
                                   :y2 209.14178466796875,
                                   :width 1352.3999999999999,
                                   :height 2042.3999999999999}
                                  {:x1 1075.0725631713867,
                                   :y1 942.6538696289062,
                                   :x2 1201.5728073120117,
                                   :y2 976.9822387695312,
                                   :width 1352.3999999999999,
                                   :height 2042.3999999999999}
                                  {:x1 170.74393463134766,
                                   :y1 979.4542541503906,
                                   :x2 1024.2721328735352,
                                   :y2 1013.7826232910156,
                                   :width 1352.3999999999999,
                                   :height 2042.3999999999999}),
                          :page 504},
               :content {:text " They are effectively canceled out by the longitudinal polarization states"},
               :properties {:color "purple"}}
              {:id #uuid "6407dea0-fd6b-4c8f-9e20-de12dfe7edb2",
               :page 137,
               :position {:bounding {:x1 719.5600891113281,
                                     :y1 479.93233489990234,
                                     :x2 765.1588439941406,
                                     :y2 502.32039642333984,
                                     :width 882,
                                     :height 1332},
                          :rects ({:x1 719.5600891113281,
                                   :y1 479.93233489990234,
                                   :x2 765.1588439941406,
                                   :y2 502.32039642333984,
                                   :width 882,
                                   :height 1332}),
                          :page 137},
               :content {:text "4.103"},
               :properties {:color "yellow"}}
              {:id #uuid "640fe071-b87c-4027-a3f7-0a0c906b8659",
               :page 509,
               :position {:bounding {:x1 0,
                                     :y1 142.19216918945312,
                                     :x2 628.100854113698,
                                     :y2 520.9328308105469,
                                     :width 1141,
                                     :height 1723.1428571428573},
                          :rects ({:x1 0,
                                   :y1 142.19216918945312,
                                   :x2 0,
                                   :y2 161.29664611816406,
                                   :width 1141,
                                   :height 1723.1428571428573}
                                  {:x1 125.6529781371355,
                                   :y1 486.9029846191406,
                                   :x2 628.100854113698,
                                   :y2 520.9328308105469,
                                   :width 1141,
                                   :height 1723.1428571428573}),
                          :page 509},
               :content {:text "15.2 The Yang-Mills Lagrangian"},
               :properties {:color "yellow"}}
              {:id #uuid "64115d22-ffe4-4ee4-8a05-79bbe0f520f2",
               :page 513,
               :position {:bounding {:x1 0,
                                     :y1 45.562652587890625,
                                     :x2 924.9223022460938,
                                     :y2 288.97216796875,
                                     :width 1058.3999999999999,
                                     :height 1598.3999999999999},
                          :rects ({:x1 0,
                                   :y1 45.562652587890625,
                                   :x2 0,
                                   :y2 65.18255615234375,
                                   :width 1058.3999999999999,
                                   :height 1598.3999999999999}
                                  {:x1 496.7615051269531,
                                   :y1 232.3861083984375,
                                   :x2 924.9223022460938,
                                   :y2 260.18096923828125,
                                   :width 1058.3999999999999,
                                   :height 1598.3999999999999}
                                  {:x1 117.56619262695312,
                                   :y1 261.17730712890625,
                                   :x2 234.3035430908203,
                                   :y2 288.97216796875,
                                   :width 1058.3999999999999,
                                   :height 1598.3999999999999}),
                          :page 513},
               :content {:text "Consider any continuous group of transformations"},
               :properties {:color "yellow"}}
              {:id #uuid "642bc322-b8dc-4d82-ade0-a452daad6a1d",
               :page 305,
               :position {:bounding {:x1 104.02052307128906,
                                     :y1 562.6585693359375,
                                     :x2 233.90699768066406,
                                     :y2 587.1361694335938,
                                     :width 940.8,
                                     :height 1420.8},
                          :rects ({:x1 104.02052307128906,
                                   :y1 562.6585693359375,
                                   :x2 233.90699768066406,
                                   :y2 587.1361694335938,
                                   :width 940.8,
                                   :height 1420.8}),
                          :page 305},
               :content {:text "In this section"},
               :properties {:color "yellow"}}
              {:id #uuid "642bcdd1-ada5-4c3a-8ad9-6365a54ee3d4",
               :page 307,
               :position {:bounding {:x1 146.2406768798828,
                                     :y1 1204.6828002929688,
                                     :x2 273.02842712402344,
                                     :y2 1229.160400390625,
                                     :width 940.8,
                                     :height 1420.8},
                          :rects ({:x1 146.2406768798828,
                                   :y1 1204.6828002929688,
                                   :x2 273.02842712402344,
                                   :y2 1229.160400390625,
                                   :width 940.8,
                                   :height 1420.8}),
                          :page 307},
               :content {:text "Consider first"},
               :properties {:color "yellow"}}],
 :extra {:page 313}}
