{:highlights [{:id #uuid "64c4125f-c029-4e98-8b13-26433ae5fd86",
               :page 201,
               :position {:bounding {:x1 0,
                                     :y1 13.933364868164062,
                                     :x2 679.9264144897461,
                                     :y2 245.9129524230957,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 0,
                                   :y1 13.933364868164062,
                                   :x2 0,
                                   :y2 33.3548526763916,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 224.60613250732422,
                                   :y1 186.27323532104492,
                                   :x2 679.9264144897461,
                                   :y2 216.0253028869629,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 224.60613250732422,
                                   :y1 216.16089248657227,
                                   :x2 384.0479049682617,
                                   :y2 245.9129524230957,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 201},
               :content {:text "Local Transformations and Long-Range Entanglement"},
               :properties {:color "yellow"}}
              {:id #uuid "64c41279-b345-4420-bcad-b90a726f1d4a",
               :page 202,
               :position {:bounding {:x1 625.9265365600586,
                                     :y1 181.553466796875,
                                     :x2 690.7840805053711,
                                     :y2 200.14849853515625,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 625.9265365600586,
                                   :y1 181.553466796875,
                                   :x2 690.7840805053711,
                                   :y2 200.14849853515625,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 202},
               :content {:text "equivalen"},
               :properties {:color "yellow"}}
              {:id #uuid "64c4132b-2b6a-4038-8849-7b3b89f52a44",
               :page 202,
               :position {:bounding {:x1 0,
                                     :y1 381.92144775390625,
                                     :x2 1181.7784423828125,
                                     :y2 1122.023422241211,
                                     :width 1550.3999999999999,
                                     :height 2006.3999999999999},
                          :rects ({:x1 0,
                                   :y1 381.92144775390625,
                                   :x2 0,
                                   :y2 401.34295654296875,
                                   :width 1550.3999999999999,
                                   :height 2006.3999999999999}
                                  {:x1 548.0350341796875,
                                   :y1 1063.6427459716797,
                                   :x2 1181.7784423828125,
                                   :y2 1091.7419204711914,
                                   :width 1550.3999999999999,
                                   :height 2006.3999999999999}
                                  {:x1 341.3997802734375,
                                   :y1 1093.9242553710938,
                                   :x2 989.1032104492188,
                                   :y2 1122.023422241211,
                                   :width 1550.3999999999999,
                                   :height 2006.3999999999999}),
                          :page 202},
               :content {:text "a phase is a collection of condensed matter systems with qualitatively the same but possibly quantitatively different properties"},
               :properties {:color "yellow"}}
              {:id #uuid "64c41935-c220-4764-9b0d-c54ebd4b420b",
               :page 210,
               :position {:bounding {:x1 649.6942138671875,
                                     :y1 831.8125,
                                     :x2 1592.6942138671875,
                                     :y2 1191.8125,
                                     :width 2203.2000000000003,
                                     :height 2851.2000000000003},
                          :rects (),
                          :page 210},
               :content {:text "[:span]", :image 1690573105228},
               :properties {:color "yellow"}}
              {:id #uuid "64c42091-4178-4faf-922b-599aeb0aaa8c",
               :page 212,
               :position {:bounding {:x1 513.4462890625,
                                     :y1 1684.125,
                                     :x2 1680.4462890625,
                                     :y2 2037.125,
                                     :width 2203.2000000000003,
                                     :height 2851.2000000000003},
                          :rects (),
                          :page 212},
               :content {:text "[:span]", :image 1690574991214},
               :properties {:color "yellow"}}
              {:id #uuid "64c54dd3-d506-4a34-b212-94fed888531b",
               :page 213,
               :position {:bounding {:x1 0,
                                     :y1 606.254150390625,
                                     :x2 1305.9687805175781,
                                     :y2 1708.6984100341797,
                                     :width 1713.6,
                                     :height 2217.6},
                          :rects ({:x1 0,
                                   :y1 606.254150390625,
                                   :x2 0,
                                   :y2 625.2954711914062,
                                   :width 1713.6,
                                   :height 2217.6}
                                  {:x1 0,
                                   :y1 622.2551879882812,
                                   :x2 0,
                                   :y2 641.2965087890625,
                                   :width 1713.6,
                                   :height 2217.6}
                                  {:x1 454.4847412109375,
                                   :y1 1610.8141021728516,
                                   :x2 1305.9681396484375,
                                   :y2 1641.7562561035156,
                                   :width 1713.6,
                                   :height 2217.6}
                                  {:x1 377.3398742675781,
                                   :y1 1644.2851791381836,
                                   :x2 1305.9687805175781,
                                   :y2 1675.2273254394531,
                                   :width 1713.6,
                                   :height 2217.6}
                                  {:x1 377.3398742675781,
                                   :y1 1677.7562561035156,
                                   :x2 1298.4499816894531,
                                   :y2 1708.6984100341797,
                                   :width 1713.6,
                                   :height 2217.6}),
                          :page 213},
               :content {:text "In general, in the presence of strong randomness, the thermodynamic limit is not well defined (without impurity average). We show that for gapped quantum liquids, the thermodynamic limit is well defined even without impurity average"},
               :properties {:color "purple"}}
              {:id #uuid "64c54f5f-229e-4bc9-a068-01bbcb24978c",
               :page 215,
               :position {:bounding {:x1 647.7190055847168,
                                     :y1 864.125,
                                     :x2 1191.7190055847168,
                                     :y2 1072.125,
                                     :width 1876.8,
                                     :height 2428.7999999999997},
                          :rects (),
                          :page 215},
               :content {:text "[:span]", :image 1690652510153},
               :properties {:color "yellow"}}
              {:id #uuid "64c55051-36de-42d6-8795-5f37ef347db3",
               :page 216,
               :position {:bounding {:x1 581.7190055847168,
                                     :y1 846.125,
                                     :x2 1263.7190055847168,
                                     :y2 1075.125,
                                     :width 1876.8,
                                     :height 2428.7999999999997},
                          :rects (),
                          :page 216},
               :content {:text "[:span]", :image 1690652750499},
               :properties {:color "yellow"}}
              {:id #uuid "64c55a1f-1ec2-4ccf-bb00-96691c4113b1",
               :page 218,
               :position {:bounding {:x1 201,
                                     :y1 151.28125,
                                     :x2 853,
                                     :y2 474.28125,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects (),
                          :page 218},
               :content {:text "[:span]", :image 1690655261121},
               :properties {:color "yellow"}}
              {:id #uuid "64c59d5c-9022-455b-9a87-188654f2cc66",
               :page 243,
               :position {:bounding {:x1 449.209716796875,
                                     :y1 372.28204345703125,
                                     :x2 1469.6245727539062,
                                     :y2 431.78619384765625,
                                     :width 2039.9999999999998,
                                     :height 2639.9999999999995},
                          :rects ({:x1 449.209716796875,
                                   :y1 372.28204345703125,
                                   :x2 1469.6245727539062,
                                   :y2 431.78619384765625,
                                   :width 2039.9999999999998,
                                   :height 2639.9999999999995}),
                          :page 243},
               :content {:text "Matrix Product State and 1D Gapped Phases"},
               :properties {:color "yellow"}}
              {:id #uuid "64c5a290-b014-45d4-9fc7-833ca91aa487",
               :page 246,
               :position {:bounding {:x1 473.2561950683594,
                                     :y1 708.5,
                                     :x2 1537.2561950683594,
                                     :y2 1026.5,
                                     :width 2039.9999999999998,
                                     :height 2639.9999999999995},
                          :rects (),
                          :page 246},
               :content {:text "[:span]", :image 1690673807077},
               :properties {:color "yellow"}}
              {:id #uuid "64c66350-a47a-4539-8121-83612d4564f3",
               :page 247,
               :position {:bounding {:x1 115,
                                     :y1 126.765625,
                                     :x2 162,
                                     :y2 162.765625,
                                     :width 494.99999999999994,
                                     :height 640.5882352941176},
                          :rects (),
                          :page 247},
               :content {:text "[:span]", :image 1690723151364},
               :properties {:color "yellow"}}
              {:id #uuid "64c6719d-c663-4af8-9ba7-ad5ae575886e",
               :page 247,
               :position {:bounding {:x1 186,
                                     :y1 129.921875,
                                     :x2 264,
                                     :y2 158.921875,
                                     :width 494.99999999999994,
                                     :height 640.5882352941176},
                          :rects (),
                          :page 247},
               :content {:text "[:span]", :image 1690726812184},
               :properties {:color "yellow"}}
              {:id #uuid "64c671a5-c090-4c8e-978a-74d7b28a32e7",
               :page 247,
               :position {:bounding {:x1 293,
                                     :y1 129.921875,
                                     :x2 369,
                                     :y2 157.921875,
                                     :width 494.99999999999994,
                                     :height 640.5882352941176},
                          :rects (),
                          :page 247},
               :content {:text "[:span]", :image 1690726820663},
               :properties {:color "yellow"}}
              {:id #uuid "64c68156-c82e-4925-994b-08a60283cd79",
               :page 252,
               :position {:bounding {:x1 118,
                                     :y1 154.921875,
                                     :x2 369,
                                     :y2 183.921875,
                                     :width 494.99999999999994,
                                     :height 640.5882352941176},
                          :rects (),
                          :page 252},
               :content {:text "[:span]", :image 1690730836837},
               :properties {:color "yellow"}}
              {:id #uuid "64c6a836-1ad4-44cd-9bd4-ae0ed8e5cbd7",
               :page 257,
               :position {:bounding {:x1 255.8333282470703,
                                     :y1 583.65625,
                                     :x2 870.8333282470703,
                                     :y2 717.65625,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects (),
                          :page 257},
               :content {:text "[:span]", :image 1690740789434},
               :properties {:color "yellow"}}
              {:id #uuid "64c7b982-ecf8-47d4-919b-c3ceaf0b8610",
               :page 260,
               :position {:bounding {:x1 227.5,
                                     :y1 541.3125,
                                     :x2 803.5,
                                     :y2 665.3125,
                                     :width 1060.8,
                                     :height 1372.8},
                          :rects (),
                          :page 260},
               :content {:text "[:span]", :image 1690810753155},
               :properties {:color "yellow"}}
              {:id #uuid "64c7c826-5f2d-441d-9dd8-053d55a0192b",
               :page 260,
               :position {:bounding {:x1 739.1666564941406,
                                     :y1 594,
                                     :x2 869.1666564941406,
                                     :y2 720,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects (),
                          :page 260},
               :content {:text "[:span]", :image 1690814501429},
               :properties {:color "yellow"}}
              {:id #uuid "64c7ccd9-9767-4ed6-9704-5f4fe3fe7d0e",
               :page 261,
               :position {:bounding {:x1 251.16665649414062,
                                     :y1 471,
                                     :x2 872.1666564941406,
                                     :y2 581,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects (),
                          :page 261},
               :content {:text "[:span]", :image 1690815704207},
               :properties {:color "yellow"}}
              {:id #uuid "64c7eaf2-c7ef-4958-8031-f56be1ebcdf5",
               :page 265,
               :position {:bounding {:x1 197.64322662353516,
                                     :y1 163.69790649414062,
                                     :x2 653.6879653930664,
                                     :y2 189.53124237060547,
                                     :width 897.6,
                                     :height 1161.6000000000001},
                          :rects ({:x1 197.64322662353516,
                                   :y1 163.69790649414062,
                                   :x2 653.6879653930664,
                                   :y2 189.53124237060547,
                                   :width 897.6,
                                   :height 1161.6000000000001}),
                          :page 265},
               :content {:text "Tensor Product States and 2D Gapped Phases"},
               :properties {:color "yellow"}}
              {:id #uuid "64c7f62b-6d6a-426f-b022-07220a9f00e5",
               :page 278,
               :position {:bounding {:x1 417.99998474121094,
                                     :y1 162.3125,
                                     :x2 696.9999847412109,
                                     :y2 454.3125,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects (),
                          :page 278},
               :content {:text "[:span]", :image 1690826282660},
               :properties {:color "yellow"}}
              {:id #uuid "64c7f701-9cf6-458b-9e95-98079b6c4aff",
               :page 278,
               :position {:bounding {:x1 288.99998474121094,
                                     :y1 670.3125,
                                     :x2 523.9999847412109,
                                     :y2 950.3125,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects (),
                          :page 278},
               :content {:text "[:span]", :image 1690826496720},
               :properties {:color "yellow"}}
              {:id #uuid "64c7f96e-ae1a-4947-addd-5c6e272b298b",
               :page 135,
               :position {:bounding {:x1 251.5494728088379,
                                     :y1 795.1171875,
                                     :x2 298.27569580078125,
                                     :y2 820.1171875,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects ({:x1 251.5494728088379,
                                   :y1 795.1171875,
                                   :x2 298.27569580078125,
                                   :y2 820.1171875,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}),
                          :page 135},
               :content {:text "5.3.2"},
               :properties {:color "yellow"}}
              {:id #uuid "64c910db-c231-4d2e-8ff2-fb84e6555588",
               :page 208,
               :position {:bounding {:x1 425,
                                     :y1 239.9375,
                                     :x2 943,
                                     :y2 509.9375,
                                     :width 1632,
                                     :height 2112},
                          :rects (),
                          :page 208},
               :content {:text "[:span]", :image 1690898649674},
               :properties {:color "yellow"}}],
 :extra {:page 218}}
