{:highlights [{:id #uuid "646dfd73-b2fc-46fa-b733-855f0e3886a1",
               :page 221,
               :position {:bounding {:x1 79.74421691894531,
                                     :y1 577.4462127685547,
                                     :x2 124.22987365722656,
                                     :y2 597.0661315917969,
                                     :width 654,
                                     :height 991.5489632883448},
                          :rects ({:x1 79.74421691894531,
                                   :y1 577.4462127685547,
                                   :x2 124.22987365722656,
                                   :y2 597.0661315917969,
                                   :width 654,
                                   :height 991.5489632883448}),
                          :page 221},
               :content {:text "11.3.2"},
               :properties {:color "yellow"}}
              {:id #uuid "646dfd95-b11d-42aa-9ee3-a057f5dad014",
               :page 222,
               :position {:bounding {:x1 278.66969299316406,
                                     :y1 89.1875,
                                     :x2 671.6696929931641,
                                     :y2 394.1875,
                                     :width 761.5746666666666,
                                     :height 1154.6461333333334},
                          :rects (),
                          :page 222},
               :content {:text "[:span]", :image 1684929940421},
               :properties {:color "yellow"}}
              {:id #uuid "646dfe5a-141c-4344-91c2-4b447d21cb33",
               :page 223,
               :position {:bounding {:x1 283.66969299316406,
                                     :y1 96.328125,
                                     :x2 678.6696929931641,
                                     :y2 390.328125,
                                     :width 761.5746666666666,
                                     :height 1154.6461333333334},
                          :rects (),
                          :page 223},
               :content {:text "[:span]", :image 1684930136816},
               :properties {:color "yellow"}}
              {:id #uuid "64734e5e-dc0d-4108-84c5-427bdde9c399",
               :page 247,
               :position {:bounding {:x1 234.4223289489746,
                                     :y1 394.34375,
                                     :x2 561.4223289489746,
                                     :y2 454.34375,
                                     :width 820.1573333333332,
                                     :height 1243.4650666666666},
                          :rects (),
                          :page 247},
               :content {:text "[:span]", :image 1685278301903},
               :properties {:color "yellow"}}],
 :extra {:page 247}}
