{:highlights [{:id #uuid "64473628-1f5e-4716-ae6b-39422002886f",
               :page 292,
               :position {:bounding {:x1 78.3365752696991,
                                     :y1 187.3905792236328,
                                     :x2 95.74924921989441,
                                     :y2 199.1625213623047,
                                     :width 518.9641813977829,
                                     :height 675.477388370738},
                          :rects ({:x1 78.3365752696991,
                                   :y1 187.3905792236328,
                                   :x2 95.74924921989441,
                                   :y2 199.1625213623047,
                                   :width 518.9641813977829,
                                   :height 675.477388370738}),
                          :page 292},
               :content {:text "7.1 "},
               :properties {:color "yellow"}}],
 :extra {:page 296}}
