{:highlights [{:id #uuid "648ff108-034f-4286-b3d4-f6fd2a121c87",
               :page 6,
               :position {:bounding {:x1 347.9468994140625,
                                     :y1 545.3722686767578,
                                     :x2 555.5801391601562,
                                     :y2 560.0872039794922,
                                     :width 897.6,
                                     :height 1161.6000000000001},
                          :rects ({:x1 347.9468994140625,
                                   :y1 545.3722686767578,
                                   :x2 555.5801391601562,
                                   :y2 560.0872039794922,
                                   :width 897.6,
                                   :height 1161.6000000000001}),
                          :page 6},
               :content {:text "A. Laser irradiated graphene"},
               :properties {:color "yellow"}}
              {:id #uuid "648ff30b-dd82-4f04-9d08-f983307e8d59",
               :page 8,
               :position {:bounding {:x1 315.2597961425781,
                                     :y1 79.39932250976562,
                                     :x2 587.9593505859375,
                                     :y2 94.11427307128906,
                                     :width 897.6,
                                     :height 1161.6000000000001},
                          :rects ({:x1 315.2597961425781,
                                   :y1 79.39932250976562,
                                   :x2 587.9593505859375,
                                   :y2 94.11427307128906,
                                   :width 897.6,
                                   :height 1161.6000000000001}),
                          :page 8},
               :content {:text "B. Floquet Kubo and TKNN formulae"},
               :properties {:color "yellow"}}],
 :extra {:page 3}}
