{:highlights [{:id #uuid "660b714e-44f2-4829-bdd7-c952d8cd4905",
               :page 1,
               :position {:bounding {:x1 56.26462936401367,
                                     :y1 493.8202819824219,
                                     :x2 585.7158355712891,
                                     :y2 517.471923828125,
                                     :width 638.0000000000002,
                                     :height 825.6470588235296},
                          :rects ({:x1 233.16932678222656,
                                   :y1 493.8202819824219,
                                   :x2 585.7158355712891,
                                   :y2 505.5895080566406,
                                   :width 638.0000000000002,
                                   :height 825.6470588235296}
                                  {:x1 56.26462936401367,
                                   :y1 505.70269775390625,
                                   :x2 427.8040580749512,
                                   :y2 517.471923828125,
                                   :width 638.0000000000002,
                                   :height 825.6470588235296}),
                          :page 1},
               :content {:text "Σ(Ω) is the (convex) set of reduced density matrices on a region Ω, obtained from states which minimize all terms overlapping with region Ω in the Hamiltonian."},
               :properties {:color "yellow"}}
              {:id #uuid "660b7ff7-1255-4a7c-9a88-92e49caef155",
               :page 7,
               :position {:bounding {:x1 289.26598358154297,
                                     :y1 886.8734436035156,
                                     :x2 532.2720413208008,
                                     :y2 900.4533386230469,
                                     :width 816,
                                     :height 1056},
                          :rects ({:x1 289.26598358154297,
                                   :y1 886.8734436035156,
                                   :x2 313.32079315185547,
                                   :y2 900.4533386230469,
                                   :width 816,
                                   :height 1056}
                                  {:x1 324.19178009033203,
                                   :y1 886.8734436035156,
                                   :x2 532.2720413208008,
                                   :y2 900.4533386230469,
                                   :width 816,
                                   :height 1056}),
                          :page 7},
               :content {:text "III. THE INFORMATION CONVEX"},
               :properties {:color "yellow"}}
              {:id #uuid "660cb3a6-ebf2-4c49-9a12-540eb05fa216",
               :page 11,
               :position {:bounding {:x1 141,
                                     :y1 161.9248046875,
                                     :x2 503,
                                     :y2 378.9248046875,
                                     :width 897.6,
                                     :height 1161.6000000000001},
                          :rects (),
                          :page 11},
               :content {:text "[:span]", :image 1712108453299},
               :properties {:color "yellow"}}
              {:id #uuid "660cb4cf-295c-4d27-b439-dc86a453eca5",
               :page 12,
               :position {:bounding {:x1 150.25747680664062,
                                     :y1 70.8291015625,
                                     :x2 743.2574768066406,
                                     :y2 274.8291015625,
                                     :width 897.6,
                                     :height 1161.6000000000001},
                          :rects (),
                          :page 12},
               :content {:text "[:span]", :image 1712108750842},
               :properties {:color "yellow"}}
              {:id #uuid "660d5121-ff54-4c0f-b51c-24d6ec7205dc",
               :page 11,
               :position {:bounding {:x1 341.11568450927734,
                                     :y1 107.994140625,
                                     :x2 891.1109848022461,
                                     :y2 127.5491943359375,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 341.11568450927734,
                                   :y1 107.994140625,
                                   :x2 375.9707565307617,
                                   :y2 127.5491943359375,
                                   :width 1224,
                                   :height 1584}
                                  {:x1 392.16478729248047,
                                   :y1 107.994140625,
                                   :x2 891.1109848022461,
                                   :y2 127.5491943359375,
                                   :width 1224,
                                   :height 1584}),
                          :page 11},
               :content {:text "IV. G QUANTUM DOUBLE WITH K ⊆ G BOUNDARY"},
               :properties {:color "yellow"}}
              {:id #uuid "660e17f0-a477-4267-922f-0737070c982e",
               :page 14,
               :position {:bounding {:x1 870.98779296875,
                                     :y1 257.6007843017578,
                                     :x2 899.3238525390625,
                                     :y2 275.25462341308594,
                                     :width 979.1999999999999,
                                     :height 1267.1999999999998},
                          :rects ({:x1 870.98779296875,
                                   :y1 257.6007843017578,
                                   :x2 899.3238525390625,
                                   :y2 275.25462341308594,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}),
                          :page 14},
               :content {:text "(38)"},
               :properties {:color "yellow"}}
              {:id #uuid "660e1819-6935-4fb2-ac5d-2507c017d1f5",
               :page 15,
               :position {:bounding {:x1 510.64501953125,
                                     :y1 198.37890625,
                                     :x2 686.64501953125,
                                     :y2 371.37890625,
                                     :width 979.1999999999999,
                                     :height 1267.1999999999998},
                          :rects (),
                          :page 15},
               :content {:text "[:span]", :image 1712199704041},
               :properties {:color "yellow"}}
              {:id #uuid "660e1826-7307-45a0-a69a-91b157cea088",
               :page 14,
               :position {:bounding {:x1 518.64501953125,
                                     :y1 434.390625,
                                     :x2 660.64501953125,
                                     :y2 577.390625,
                                     :width 979.1999999999999,
                                     :height 1267.1999999999998},
                          :rects (),
                          :page 14},
               :content {:text "[:span]", :image 1712199717093},
               :properties {:color "yellow"}}
              {:id #uuid "660e26b5-f9cf-46c6-9eb5-050b4cd92cf8",
               :page 13,
               :position {:bounding {:x1 870.9878082275391,
                                     :y1 495.95628356933594,
                                     :x2 899.3238067626953,
                                     :y2 513.6101531982422,
                                     :width 979.1999999999999,
                                     :height 1267.1999999999998},
                          :rects ({:x1 870.9878082275391,
                                   :y1 495.95628356933594,
                                   :x2 899.3238067626953,
                                   :y2 513.6101531982422,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}),
                          :page 13},
               :content {:text "(36)"},
               :properties {:color "yellow"}}],
 :extra {:page 15}}
