{:highlights [{:id #uuid "658e2d9a-a4b1-4395-85b5-3aef350caa65",
               :page 2,
               :position {:bounding {:x1 155.48984098434448,
                                     :y1 1193.15673828125,
                                     :x2 331.7355842590332,
                                     :y2 1218.05322265625,
                                     :width 1110.6666666666665,
                                     :height 1571.7333333333331},
                          :rects ({:x1 155.48984098434448,
                                   :y1 1193.15673828125,
                                   :x2 174.24000358581543,
                                   :y2 1218.05322265625,
                                   :width 1110.6666666666665,
                                   :height 1571.7333333333331}
                                  {:x1 193.3650245666504,
                                   :y1 1193.15673828125,
                                   :x2 331.7355842590332,
                                   :y2 1218.05322265625,
                                   :width 1110.6666666666665,
                                   :height 1571.7333333333331}),
                          :page 2},
               :content {:text "1 Introduction"},
               :properties {:color "yellow"}}
              {:id #uuid "658e2dad-f1ec-4e64-af79-e0b9f1e5f3b8",
               :page 3,
               :position {:bounding {:x1 155.48984098434448,
                                     :y1 496.40892791748047,
                                     :x2 955.8928985595703,
                                     :y2 575.2854919433594,
                                     :width 1110.6666666666665,
                                     :height 1571.7333333333331},
                          :rects ({:x1 201.83729553222656,
                                   :y1 496.40892791748047,
                                   :x2 458.95811462402344,
                                   :y2 519.4947509765625,
                                   :width 1110.6666666666665,
                                   :height 1571.7333333333331}
                                  {:x1 477.5809783935547,
                                   :y1 496.40892791748047,
                                   :x2 955.8928985595703,
                                   :y2 519.4947509765625,
                                   :width 1110.6666666666665,
                                   :height 1571.7333333333331}
                                  {:x1 457.8123321533203,
                                   :y1 504.1042022705078,
                                   :x2 473.8323516845703,
                                   :y2 520.8527374267578,
                                   :width 1110.6666666666665,
                                   :height 1571.7333333333331}
                                  {:x1 155.48984098434448,
                                   :y1 524.2264938354492,
                                   :x2 955.5283966064453,
                                   :y2 547.3123168945312,
                                   :width 1110.6666666666665,
                                   :height 1571.7333333333331}
                                  {:x1 155.48984098434448,
                                   :y1 552.1996765136719,
                                   :x2 826.5352511405945,
                                   :y2 575.2854919433594,
                                   :width 1110.6666666666665,
                                   :height 1571.7333333333331}),
                          :page 3},
               :content {:text "he reduced density matrix ρA is identiﬁed with the quasiparticle ﬂuctuations on the entanglement boundary (EB) separating A and B, and the corresponding EE explicitly counts the allowed states describing quasiparticle ﬂuctuations on the EB"},
               :properties {:color "purple"}}
              {:id #uuid "658e2dd5-11ac-41ad-b382-cf1dceb299b8",
               :page 4,
               :position {:bounding {:x1 256.3788757324219,
                                     :y1 395.92578125,
                                     :x2 837.3788757324219,
                                     :y2 679.92578125,
                                     :width 1110.6666666666665,
                                     :height 1571.7333333333331},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1703816660419},
               :properties {:color "yellow"}}
              {:id #uuid "658e2f1f-4d32-420c-a067-d02c041d527a",
               :page 5,
               :position {:bounding {:x1 155.48983764648438,
                                     :y1 520.4566802978516,
                                     :x2 680.859130859375,
                                     :y2 545.3531646728516,
                                     :width 1110.6666666666665,
                                     :height 1571.7333333333331},
                          :rects ({:x1 155.48983764648438,
                                   :y1 520.4566802978516,
                                   :x2 174.239990234375,
                                   :y2 545.3531646728516,
                                   :width 1110.6666666666665,
                                   :height 1571.7333333333331}
                                  {:x1 193.36502075195312,
                                   :y1 520.4566802978516,
                                   :x2 680.859130859375,
                                   :y2 545.3531646728516,
                                   :width 1110.6666666666665,
                                   :height 1571.7333333333331}),
                          :page 5},
               :content {:text "2 Quantum double model and holonomy bases"},
               :properties {:color "yellow"}}
              {:id #uuid "658e6b4e-9a2d-428e-be8b-53777dcd3283",
               :page 5,
               :position {:bounding {:x1 529.9480438232422,
                                     :y1 1243.3603515625,
                                     :x2 880.9480438232422,
                                     :y2 1379.3603515625,
                                     :width 1428,
                                     :height 2020.8},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1703832397788},
               :properties {:color "yellow"}}
              {:id #uuid "658e6b7c-ab60-4ca6-b864-e44c66943735",
               :page 8,
               :position {:bounding {:x1 199.91871643066406,
                                     :y1 743.4880218505859,
                                     :x2 1073.1605072021484,
                                     :y2 775.3555145263672,
                                     :width 1428,
                                     :height 2020.8},
                          :rects ({:x1 199.91871643066406,
                                   :y1 743.4880218505859,
                                   :x2 224.02303314208984,
                                   :y2 775.3555145263672,
                                   :width 1428,
                                   :height 2020.8}
                                  {:x1 248.60264587402344,
                                   :y1 743.4880218505859,
                                   :x2 1073.1605072021484,
                                   :y2 775.3555145263672,
                                   :width 1428,
                                   :height 2020.8}),
                          :page 8},
               :content {:text "3 Fusion basis and the quasiparticle picture of entanglement"},
               :properties {:color "yellow"}}
              {:id #uuid "658e6c1f-47f8-4999-803f-b92317efd2a8",
               :page 9,
               :position {:bounding {:x1 535.1942291259766,
                                     :y1 765.333984375,
                                     :x2 871.1942291259766,
                                     :y2 1030.333984375,
                                     :width 1428,
                                     :height 2020.8},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1703832606860},
               :properties {:color "yellow"}}
              {:id #uuid "658e88ff-f635-435f-a718-12083aacc17e",
               :page 12,
               :position {:bounding {:x1 576.2900314331055,
                                     :y1 259.7890625,
                                     :x2 840.2900314331055,
                                     :y2 391.7890625,
                                     :width 1428,
                                     :height 2020.8},
                          :rects (),
                          :page 12},
               :content {:text "[:span]", :image 1703839996036},
               :properties {:color "yellow"}}
              {:id #uuid "658e9737-872f-4ba9-a294-dbe282a02020",
               :page 12,
               :position {:bounding {:x1 248.8968734741211,
                                     :y1 582.6341781616211,
                                     :x2 304.18004608154297,
                                     :y2 612.3288803100586,
                                     :width 1428,
                                     :height 2020.8},
                          :rects ({:x1 248.8968734741211,
                                   :y1 582.6341781616211,
                                   :x2 304.18004608154297,
                                   :y2 612.3288803100586,
                                   :width 1428,
                                   :height 2020.8}),
                          :page 12},
               :content {:text "Note"},
               :properties {:color "yellow"}}
              {:id #uuid "658e99ab-a372-46ef-8be9-d53f9de78994",
               :page 12,
               :position {:bounding {:x1 1161.8054122924805,
                                     :y1 1555.2490158081055,
                                     :x2 1228.179313659668,
                                     :y2 1584.9437255859375,
                                     :width 1428,
                                     :height 2020.8},
                          :rects ({:x1 1161.8054122924805,
                                   :y1 1555.2490158081055,
                                   :x2 1228.179313659668,
                                   :y2 1584.9437255859375,
                                   :width 1428,
                                   :height 2020.8}),
                          :page 12},
               :content {:text "(3.16)"},
               :properties {:color "yellow"}}],
 :extra {:page 13}}
