{:highlights [{:id #uuid "6517c62c-edbc-4019-b060-637490209b48",
               :page 2,
               :position {:bounding {:x1 285.8512382507324,
                                     :y1 1293.4462890625,
                                     :x2 626.8512382507324,
                                     :y2 1464.4462890625,
                                     :width 1257.6,
                                     :height 1689.6},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1696056875063},
               :properties {:color "yellow"}}
              {:id #uuid "6517cce1-5dd6-4747-bd49-0505826e5d0d",
               :page 2,
               :position {:bounding {:x1 915.9503784179688,
                                     :y1 124.4544677734375,
                                     :x2 1175.9503784179688,
                                     :y2 334.4544677734375,
                                     :width 1257.6,
                                     :height 1689.6},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1696058592614},
               :properties {:color "yellow"}}
              {:id #uuid "6517cdab-e903-4eb6-9905-04b1c9993fb2",
               :page 2,
               :position {:bounding {:x1 643.8016357421875,
                                     :y1 127.2396240234375,
                                     :x2 941.8016357421875,
                                     :y2 336.2396240234375,
                                     :width 1257.6,
                                     :height 1689.6},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1696058794535},
               :properties {:color "yellow"}}
              {:id #uuid "6517cdc8-dcbe-4323-86a9-91da0ee21e28",
               :page 2,
               :position {:bounding {:x1 75.0247917175293,
                                     :y1 118.272705078125,
                                     :x2 608.0247917175293,
                                     :y2 598.272705078125,
                                     :width 1257.6,
                                     :height 1689.6},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1696058823157},
               :properties {:color "yellow"}}],
 :extra {:page 4}}
