{:highlights [{:id #uuid "650ede9a-fe7a-4545-a738-c56d50e49bcd",
               :page 4,
               :position {:bounding {:x1 0,
                                     :y1 221.92663955688477,
                                     :x2 241.97527313232422,
                                     :y2 368.6531410217285,
                                     :width 494.99999999999994,
                                     :height 640.5882352941176},
                          :rects ({:x1 0,
                                   :y1 221.92663955688477,
                                   :x2 0,
                                   :y2 241.34811782836914,
                                   :width 494.99999999999994,
                                   :height 640.5882352941176}
                                  {:x1 0,
                                   :y1 237.92612075805664,
                                   :x2 0,
                                   :y2 257.347599029541,
                                   :width 494.99999999999994,
                                   :height 640.5882352941176}
                                  {:x1 76.77030181884766,
                                   :y1 340.218204498291,
                                   :x2 241.83850860595703,
                                   :y2 349.3091163635254,
                                   :width 494.99999999999994,
                                   :height 640.5882352941176}
                                  {:x1 43.55630111694336,
                                   :y1 349.89023208618164,
                                   :x2 241.97527313232422,
                                   :y2 358.9811134338379,
                                   :width 494.99999999999994,
                                   :height 640.5882352941176}
                                  {:x1 43.55630111694336,
                                   :y1 359.56222915649414,
                                   :x2 186.8349609375,
                                   :y2 368.6531410217285,
                                   :width 494.99999999999994,
                                   :height 640.5882352941176}),
                          :page 4},
               :content {:text "(i) The topological spin of an anyonic quasiparticle is θ = νπ/8 and (ii) the ground-state degeneracy on the torus is four (three) for even (odd) ν"},
               :properties {:color "yellow"}}
              {:id #uuid "651bd24b-e12c-4fef-9016-83ffb28b58bb",
               :page 2,
               :position {:bounding {:x1 670.9338684082031,
                                     :y1 94.6363525390625,
                                     :x2 1212.9338684082031,
                                     :y2 355.6363525390625,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1696322120621},
               :properties {:color "yellow"}}
              {:id #uuid "651cd9b2-d863-4fbf-a298-39e89e07a161",
               :page 4,
               :position {:bounding {:x1 121,
                                     :y1 71.776611328125,
                                     :x2 295,
                                     :y2 255.776611328125,
                                     :width 1060.8,
                                     :height 1372.8},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1696389553274},
               :properties {:color "yellow"}}],
 :extra {:page 12}}
