{:highlights [{:id #uuid "658936ae-1e93-4aee-9ecd-6bad09320e41",
               :page 1,
               :position {:bounding {:x1 124.72003936767578,
                                     :y1 1082.1593322753906,
                                     :x2 307.1679153442383,
                                     :y2 1108.9570007324219,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 124.72003936767578,
                                   :y1 1082.1593322753906,
                                   :x2 307.1679153442383,
                                   :y2 1108.9570007324219,
                                   :width 1224,
                                   :height 1584}),
                          :page 1},
               :content {:text "1. Introduction"},
               :properties {:color "yellow"}}
              {:id #uuid "658936e0-d90a-4803-968a-b22fac61436a",
               :page 2,
               :position {:bounding {:x1 298.136474609375,
                                     :y1 104.99520874023438,
                                     :x2 487.7593078613281,
                                     :y2 131.79287719726562,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 298.136474609375,
                                   :y1 104.99520874023438,
                                   :x2 487.7593078613281,
                                   :y2 131.79287719726562,
                                   :width 1224,
                                   :height 1584}),
                          :page 2},
               :content {:text "Hastings’ theorem"},
               :properties {:color "yellow"}}
              {:id #uuid "65893cf9-7cea-42bf-a2e0-9fb81e10022e",
               :page 5,
               :position {:bounding {:x1 103.93148040771484,
                                     :y1 556.3797082304955,
                                     :x2 202.87618255615234,
                                     :y2 578.8317956328392,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 103.93148040771484,
                                   :y1 556.3797082304955,
                                   :x2 202.87618255615234,
                                   :y2 578.8317956328392,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 5},
               :content {:text "Axiom A0"},
               :properties {:color "yellow"}}
              {:id #uuid "65893d02-16ab-46c9-b8df-4a6ca6d79925",
               :page 5,
               :position {:bounding {:x1 103.93148040771484,
                                     :y1 1010.4574890136719,
                                     :x2 202.87618255615234,
                                     :y2 1032.9095764160156,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 103.93148040771484,
                                   :y1 1010.4574890136719,
                                   :x2 202.87618255615234,
                                   :y2 1032.9095764160156,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 5},
               :content {:text "Axiom A1"},
               :properties {:color "yellow"}}
              {:id #uuid "65893f02-cec8-4d54-bc96-39b6d8c28c82",
               :page 3,
               :position {:bounding {:x1 133.03772354125977,
                                     :y1 1259.6599426269531,
                                     :x2 427.31372451782227,
                                     :y2 1287.9061279296875,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 133.03772354125977,
                                   :y1 1259.6599426269531,
                                   :x2 427.31372451782227,
                                   :y2 1287.9061279296875,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 3},
               :content {:text "2. Setup and Summary"},
               :properties {:color "yellow"}}],
 :extra {:page 4}}
