{:highlights [{:id #uuid "65309257-62f9-488e-85fd-3cb7ef039005",
               :page 5,
               :position {:bounding {:x1 1023.2392272949219,
                                     :y1 1150.6520385742188,
                                     :x2 1030.0415649414062,
                                     :y2 1174.6189575195312,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 1023.2392272949219,
                                   :y1 1150.6520385742188,
                                   :x2 1030.0415649414062,
                                   :y2 1174.6189575195312,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 5},
               :content {:text "("},
               :properties {:color "yellow"}}
              {:id #uuid "65309426-f07a-49a9-892b-a4c2ce7f111f",
               :page 7,
               :position {:bounding {:x1 115.15365982055664,
                                     :y1 1324.6770935058594,
                                     :x2 221.12204360961914,
                                     :y2 1348.64404296875,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 115.15365982055664,
                                   :y1 1324.6770935058594,
                                   :x2 221.12204360961914,
                                   :y2 1348.64404296875,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 7},
               :content {:text "Deﬁnition"},
               :properties {:color "yellow"}}
              {:id #uuid "65309cd5-1e26-4b78-a310-3bb67bfc27bc",
               :page 9,
               :position {:bounding {:x1 549.4898986816406,
                                     :y1 908.9229736328125,
                                     :x2 635.5840759277344,
                                     :y2 928.344482421875,
                                     :width 1060.8,
                                     :height 1372.8},
                          :rects ({:x1 549.4898986816406,
                                   :y1 908.9229736328125,
                                   :x2 635.5840759277344,
                                   :y2 928.344482421875,
                                   :width 1060.8,
                                   :height 1372.8}),
                          :page 9},
               :content {:text "Deﬁnition"},
               :properties {:color "yellow"}}
              {:id #uuid "65309eaf-96ed-43f1-b090-b0eb438bf10c",
               :page 15,
               :position {:bounding {:x1 840.3602294921875,
                                     :y1 741.9873046875,
                                     :x2 860.3240966796875,
                                     :y2 761.4087829589844,
                                     :width 1060.8,
                                     :height 1372.8},
                          :rects ({:x1 840.3602294921875,
                                   :y1 741.9873046875,
                                   :x2 860.3240966796875,
                                   :y2 761.4087829589844,
                                   :width 1060.8,
                                   :height 1372.8}),
                          :page 15},
               :content {:text "M."},
               :properties {:color "yellow"}}],
 :extra {:page 15}}
