{:highlights [{:id #uuid "64f5a3ab-56a5-404d-a92b-30eeb778a192",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 290.50230407714844,
                                     :x2 273.63172371685505,
                                     :y2 417.34242248535156,
                                     :width 560,
                                     :height 724.7058823529411},
                          :rects ({:x1 155.36812813580036,
                                   :y1 290.50230407714844,
                                   :x2 273.0959265977144,
                                   :y2 300.83287048339844,
                                   :width 560,
                                   :height 724.7058823529411}
                                  {:x1 49.386617973446846,
                                   :y1 300.9362030029297,
                                   :x2 273.63172371685505,
                                   :y2 311.2667694091797,
                                   :width 560,
                                   :height 724.7058823529411}
                                  {:x1 49.386617973446846,
                                   :y1 311.4475555419922,
                                   :x2 156.87541802227497,
                                   :y2 321.7781219482422,
                                   :width 560,
                                   :height 724.7058823529411}
                                  {:x1 0,
                                   :y1 381.9214630126953,
                                   :x2 0,
                                   :y2 401.3429412841797,
                                   :width 560,
                                   :height 724.7058823529411}
                                  {:x1 0,
                                   :y1 397.9209442138672,
                                   :x2 0,
                                   :y2 417.34242248535156,
                                   :width 560,
                                   :height 724.7058823529411}),
                          :page 2},
               :content {:text "Several methods have been proposed that allow one to extract S or T directly from ground state wave functions [14–19"},
               :properties {:color "yellow"}}],
 :extra {:page 2}}
