{:highlights [{:id #uuid "64570780-0ad1-467c-837e-f714c10c257a",
               :page 4,
               :position {:bounding {:x1 587.4715576171875,
                                     :y1 88.833984375,
                                     :x2 1043.4715576171875,
                                     :y2 314.833984375,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1683425151506},
               :properties {:color "yellow"}}
              {:id #uuid "64570949-fdbf-4862-9ae0-08c620620f74",
               :page 5,
               :position {:bounding {:x1 133.4911346435547,
                                     :y1 268.2205047607422,
                                     :x2 163.47674560546875,
                                     :y2 285.8784637451172,
                                     :width 979.1999999999999,
                                     :height 1267.1999999999998},
                          :rects ({:x1 133.4911346435547,
                                   :y1 268.2205047607422,
                                   :x2 163.47674560546875,
                                   :y2 285.8784637451172,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}),
                          :page 5},
               :content {:text "[65]."},
               :properties {:color "yellow"}}
              {:id #uuid "64589611-210b-4bf9-a5ef-74e8c148fef6",
               :page 5,
               :position {:bounding {:x1 534.8264923095703,
                                     :y1 434.4175109863281,
                                     :x2 754.4632263183594,
                                     :y2 448.8054504394531,
                                     :width 897.6,
                                     :height 1161.6000000000001},
                          :rects ({:x1 534.8264923095703,
                                   :y1 434.4175109863281,
                                   :x2 754.4632263183594,
                                   :y2 448.8054504394531,
                                   :width 897.6,
                                   :height 1161.6000000000001}),
                          :page 5},
               :content {:text "C. Floquet Fermi’s golden rule"},
               :properties {:color "yellow"}}
              {:id #uuid "6458f2e6-96eb-492c-8bdd-5417898fa90f",
               :page 9,
               :position {:bounding {:x1 543.9713745117188,
                                     :y1 1393.1171875,
                                     :x2 787.9713745117188,
                                     :y2 1671.1171875,
                                     :width 1632,
                                     :height 2112},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1683550950082},
               :properties {:color "yellow"}}
              {:id #uuid "6458f435-7f01-4215-8b7b-77cffad95f95",
               :page 9,
               :position {:bounding {:x1 852.3293533325195,
                                     :y1 788.411376953125,
                                     :x2 882.4164581298828,
                                     :y2 814.5712585449219,
                                     :width 1632,
                                     :height 2112},
                          :rects ({:x1 852.3293533325195,
                                   :y1 788.411376953125,
                                   :x2 882.4164581298828,
                                   :y2 814.5712585449219,
                                   :width 1632,
                                   :height 2112}),
                          :page 9},
               :content {:text "IV"},
               :properties {:color "yellow"}}
              {:id #uuid "6459a497-7859-4007-b80f-bd6b56f8a1eb",
               :page 9,
               :position {:bounding {:x1 277.69326263666153,
                                     :y1 479.87030029296875,
                                     :x2 284.0069528222084,
                                     :y2 488.37225341796875,
                                     :width 521.9999999999999,
                                     :height 675.5294117647057},
                          :rects ({:x1 277.69326263666153,
                                   :y1 479.87030029296875,
                                   :x2 284.0069528222084,
                                   :y2 488.37225341796875,
                                   :width 521.9999999999999,
                                   :height 675.5294117647057}),
                          :page 9},
               :content {:text "V"},
               :properties {:color "yellow"}}
              {:id #uuid "6459a4b1-837c-4f70-8e3b-cdf71317da87",
               :page 12,
               :position {:bounding {:x1 189.84307342767715,
                                     :y1 45.994384765625,
                                     :x2 199.70870453119278,
                                     :y2 54.49635314941406,
                                     :width 521.9999999999999,
                                     :height 675.5294117647057},
                          :rects ({:x1 189.84307342767715,
                                   :y1 45.994384765625,
                                   :x2 199.70870453119278,
                                   :y2 54.49635314941406,
                                   :width 521.9999999999999,
                                   :height 675.5294117647057}),
                          :page 12},
               :content {:text "VI"},
               :properties {:color "yellow"}}],
 :extra {:page 15}}
