{:highlights [{:id #uuid "6517edf3-3f1e-4bff-9ca5-74f242c889d7",
               :page 2,
               :position {:bounding {:x1 947.5784912109375,
                                     :y1 104.33056640625,
                                     :x2 1294.5784912109375,
                                     :y2 305.33056640625,
                                     :width 1387.2,
                                     :height 1795.2},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1696067058785},
               :properties {:color "yellow"}}
              {:id #uuid "6517ee05-eb18-4b98-8930-8c94be78c0c9",
               :page 2,
               :position {:bounding {:x1 706.5784912109375,
                                     :y1 274.9586181640625,
                                     :x2 1287.5784912109375,
                                     :y2 400.9586181640625,
                                     :width 1387.2,
                                     :height 1795.2},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1696067076753},
               :properties {:color "yellow"}}
              {:id #uuid "6518d31b-8bc4-4af8-a27e-18aebf33cc7b",
               :page 4,
               :position {:bounding {:x1 1095.374755859375,
                                     :y1 805.6430358886719,
                                     :x2 1117.526611328125,
                                     :y2 827.9570922851562,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 1095.374755859375,
                                   :y1 805.6430358886719,
                                   :x2 1117.526611328125,
                                   :y2 827.9570922851562,
                                   :width 1224,
                                   :height 1584}),
                          :page 4},
               :content {:text "20"},
               :properties {:color "yellow"}}],
 :extra {:page 7}}
