{:highlights [{:id #uuid "650ede9a-fe7a-4545-a738-c56d50e49bcd",
               :page 4,
               :position {:bounding {:x1 0,
                                     :y1 221.92663955688477,
                                     :x2 241.97527313232422,
                                     :y2 368.6531410217285,
                                     :width 494.99999999999994,
                                     :height 640.5882352941176},
                          :rects ({:x1 0,
                                   :y1 221.92663955688477,
                                   :x2 0,
                                   :y2 241.34811782836914,
                                   :width 494.99999999999994,
                                   :height 640.5882352941176}
                                  {:x1 0,
                                   :y1 237.92612075805664,
                                   :x2 0,
                                   :y2 257.347599029541,
                                   :width 494.99999999999994,
                                   :height 640.5882352941176}
                                  {:x1 76.77030181884766,
                                   :y1 340.218204498291,
                                   :x2 241.83850860595703,
                                   :y2 349.3091163635254,
                                   :width 494.99999999999994,
                                   :height 640.5882352941176}
                                  {:x1 43.55630111694336,
                                   :y1 349.89023208618164,
                                   :x2 241.97527313232422,
                                   :y2 358.9811134338379,
                                   :width 494.99999999999994,
                                   :height 640.5882352941176}
                                  {:x1 43.55630111694336,
                                   :y1 359.56222915649414,
                                   :x2 186.8349609375,
                                   :y2 368.6531410217285,
                                   :width 494.99999999999994,
                                   :height 640.5882352941176}),
                          :page 4},
               :content {:text "(i) The topological spin of an anyonic quasiparticle is θ = νπ/8 and (ii) the ground-state degeneracy on the torus is four (three) for even (odd) ν"},
               :properties {:color "yellow"}}],
 :extra {:page 4}}
