{:highlights [{:id #uuid "6531dac7-62c6-45fc-b29a-1be214fc5d57",
               :page 4,
               :position {:bounding {:x1 168.47880935668945,
                                     :y1 946.5004615783691,
                                     :x2 315.13664627075195,
                                     :y2 965.9219436645508,
                                     :width 897.6,
                                     :height 1161.6000000000001},
                          :rects ({:x1 168.47880935668945,
                                   :y1 946.5004615783691,
                                   :x2 315.13664627075195,
                                   :y2 965.9219436645508,
                                   :width 897.6,
                                   :height 1161.6000000000001}),
                          :page 4},
               :content {:text "Bootstrap analysis"},
               :properties {:color "yellow"}}
              {:id #uuid "6531dfc9-7dbf-40f4-ab4b-cde607162dde",
               :page 7,
               :position {:bounding {:x1 351.89256286621094,
                                     :y1 176.9169921875,
                                     :x2 672.8925628662109,
                                     :y2 338.9169921875,
                                     :width 979.1999999999999,
                                     :height 1267.1999999999998},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1697767369161},
               :properties {:color "yellow"}}
              {:id #uuid "6531e017-5a53-493d-95d9-1af66ff5f2de",
               :page 7,
               :position {:bounding {:x1 336.66941833496094,
                                     :y1 428.9169921875,
                                     :x2 668.6694183349609,
                                     :y2 522.9169921875,
                                     :width 979.1999999999999,
                                     :height 1267.1999999999998},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1697767446824},
               :properties {:color "yellow"}}
              {:id #uuid "6531e065-0efd-4248-a545-fc52edbd9701",
               :page 7,
               :position {:bounding {:x1 367.65289306640625,
                                     :y1 713.8095703125,
                                     :x2 650.6528930664062,
                                     :y2 807.8095703125,
                                     :width 979.1999999999999,
                                     :height 1267.1999999999998},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1697767523853},
               :properties {:color "yellow"}}
              {:id #uuid "6531e0c2-2077-4589-81b7-86e2972f7c81",
               :page 7,
               :position {:bounding {:x1 363.4710693359375,
                                     :y1 984.8095703125,
                                     :x2 652.4710693359375,
                                     :y2 1068.8095703125,
                                     :width 979.1999999999999,
                                     :height 1267.1999999999998},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1697767617294},
               :properties {:color "yellow"}}
              {:id #uuid "6531e133-0455-4b1e-8235-afa333e109fc",
               :page 8,
               :position {:bounding {:x1 321.4710693359375,
                                     :y1 1029.8095703125,
                                     :x2 690.4710693359375,
                                     :y2 1056.8095703125,
                                     :width 979.1999999999999,
                                     :height 1267.1999999999998},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1697767730942},
               :properties {:color "yellow"}}],
 :extra {:page 8}}
