{:highlights [{:id #uuid "647bfedc-d043-4fde-8200-ccb85c080be8",
               :page 2,
               :position {:bounding {:x1 146.63838958740234,
                                     :y1 747.6718444824219,
                                     :x2 488.4507064819336,
                                     :y2 764.0217590332031,
                                     :width 897.6,
                                     :height 1161.6000000000001},
                          :rects ({:x1 146.63838958740234,
                                   :y1 747.6718444824219,
                                   :x2 488.4507064819336,
                                   :y2 764.0217590332031,
                                   :width 897.6,
                                   :height 1161.6000000000001}),
                          :page 2},
               :content {:text "The hexagons of the honeycomb lattice are 3-colorable"},
               :properties {:color "yellow"}}
              {:id #uuid "647bff63-18ce-4de4-8a00-160567c88608",
               :page 2,
               :position {:bounding {:x1 124.71927261352539,
                                     :y1 432.1387481689453,
                                     :x2 347.10244369506836,
                                     :y2 455.68263244628906,
                                     :width 897.6,
                                     :height 1161.6000000000001},
                          :rects ({:x1 124.71927261352539,
                                   :y1 432.1387481689453,
                                   :x2 347.10244369506836,
                                   :y2 455.68263244628906,
                                   :width 897.6,
                                   :height 1161.6000000000001}),
                          :page 2},
               :content {:text "1 The Honeycomb Code"},
               :properties {:color "yellow"}}
              {:id #uuid "647c002f-1c9e-4990-9752-c848db0cca2f",
               :page 3,
               :position {:bounding {:x1 432.14148712158203,
                                     :y1 120.152099609375,
                                     :x2 602.1398391723633,
                                     :y2 246.84359741210938,
                                     :width 897.6,
                                     :height 1161.6000000000001},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1685848117830},
               :properties {:color "yellow"}}
              {:id #uuid "647c00ba-8be9-4e79-baeb-782e1c93416e",
               :page 3,
               :position {:bounding {:x1 286.14148712158203,
                                     :y1 215.152099609375,
                                     :x2 358.14148712158203,
                                     :y2 278.152099609375,
                                     :width 897.6,
                                     :height 1161.6000000000001},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1685848249217},
               :properties {:color "yellow"}}
              {:id #uuid "647d3f14-b1a8-4afd-a474-3d2c246bb684",
               :page 7,
               :position {:bounding {:x1 349.2332000732422,
                                     :y1 148.6572265625,
                                     :x2 606.2332000732422,
                                     :y2 528.6572265625,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1685929747172},
               :properties {:color "yellow"}}
              {:id #uuid "647ff96f-cdd3-4d23-bbd0-379965a6658b",
               :page 9,
               :position {:bounding {:x1 72.53235870599747,
                                     :y1 426.22210693359375,
                                     :x2 153.8763375878334,
                                     :y2 439.9560546875,
                                     :width 521.9999999999999,
                                     :height 675.5294117647057},
                          :rects ({:x1 72.53235870599747,
                                   :y1 426.22210693359375,
                                   :x2 153.8763375878334,
                                   :y2 439.9560546875,
                                   :width 521.9999999999999,
                                   :height 675.5294117647057}),
                          :page 9},
               :content {:text "2 Ladder Code"},
               :properties {:color "yellow"}}
              {:id #uuid "648022ea-9867-4c55-a206-da735a81cc6e",
               :page 10,
               :position {:bounding {:x1 209.17950439453125,
                                     :y1 126.125,
                                     :x2 575.1795043945312,
                                     :y2 310.125,
                                     :width 979.1999999999999,
                                     :height 1267.1999999999998},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1686119145483},
               :properties {:color "yellow"}}
              {:id #uuid "6481776c-90d5-4700-b5c9-7577475df226",
               :page 11,
               :position {:bounding {:x1 72.53235870599747,
                                     :y1 495.48447036743164,
                                     :x2 330.67421966791153,
                                     :y2 509.2184181213379,
                                     :width 521.9999999999999,
                                     :height 675.5294117647057},
                          :rects ({:x1 72.53235870599747,
                                   :y1 495.48447036743164,
                                   :x2 330.67421966791153,
                                   :y2 509.2184181213379,
                                   :width 521.9999999999999,
                                   :height 675.5294117647057}),
                          :page 11},
               :content {:text "3 Fault-tolerance of the honeycomb code on torus"},
               :properties {:color "yellow"}}],
 :extra {:page 12}}
