{:highlights [{:id #uuid "64aaa0a0-81ef-4a0c-bc32-b82a53ac9c4e",
               :page 1,
               :position {:bounding {:x1 374.9512939453125,
                                     :y1 1409.8338623046875,
                                     :x2 465.4963684082031,
                                     :y2 1433.9758911132812,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 374.9512939453125,
                                   :y1 1409.8338623046875,
                                   :x2 465.4963684082031,
                                   :y2 1433.9758911132812,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 1},
               :content {:text "CSS code"},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
