{:highlights [{:id #uuid "658b775b-9e81-41c2-9e5d-ceeb2928c251",
               :page 2,
               :position {:bounding {:x1 153.48678588867188,
                                     :y1 1468.2358093261719,
                                     :x2 369.1842041015625,
                                     :y2 1495.0334777832031,
                                     :width 1468.8,
                                     :height 1900.8},
                          :rects ({:x1 153.48678588867188,
                                   :y1 1468.2358093261719,
                                   :x2 369.1842041015625,
                                   :y2 1495.0334777832031,
                                   :width 1468.8,
                                   :height 1900.8}),
                          :page 2},
               :content {:text "Markov-chain states"},
               :properties {:color "yellow"}}],
 :extra {:page 2}}
