{:highlights [{:id #uuid "6610aac7-d95d-4cab-b7c6-153d46812343",
               :page 4,
               :position {:bounding {:x1 115.15328979492188,
                                     :y1 121.10157012939453,
                                     :x2 323.0397262573242,
                                     :y2 151.8826675415039,
                                     :width 979.1999999999999,
                                     :height 1267.1999999999998},
                          :rects ({:x1 115.15328979492188,
                                   :y1 121.10157012939453,
                                   :x2 137.69451141357422,
                                   :y2 151.8826675415039,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}
                                  {:x1 159.80428314208984,
                                   :y1 121.10157012939453,
                                   :x2 323.0397262573242,
                                   :y2 151.8826675415039,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}),
                          :page 4},
               :content {:text "1 Introduction"},
               :properties {:color "yellow"}}
              {:id #uuid "6610b16c-2186-4aca-b9e7-c3dba0d1601e",
               :page 7,
               :position {:bounding {:x1 124.74409484863281,
                                     :y1 130.8974838256836,
                                     :x2 662.9484252929688,
                                     :y2 164.39456939697266,
                                     :width 1060.8,
                                     :height 1372.8},
                          :rects ({:x1 124.74409484863281,
                                   :y1 130.8974838256836,
                                   :x2 149.16668701171875,
                                   :y2 164.39456939697266,
                                   :width 1060.8,
                                   :height 1372.8}
                                  {:x1 173.11541748046875,
                                   :y1 130.8974838256836,
                                   :x2 662.9484252929688,
                                   :y2 164.39456939697266,
                                   :width 1060.8,
                                   :height 1372.8}),
                          :page 7},
               :content {:text "2 Primer on entanglement bootstrap"},
               :properties {:color "yellow"}}
              {:id #uuid "6610b33c-097d-4696-be91-758b927c5bfa",
               :page 8,
               :position {:bounding {:x1 93.13546711439267,
                                     :y1 744.9988708496094,
                                     :x2 342.3488536500372,
                                     :y2 769.8953399658203,
                                     :width 791.9999999999999,
                                     :height 1024.941176470588},
                          :rects ({:x1 93.13546711439267,
                                   :y1 744.9988708496094,
                                   :x2 111.36930805677548,
                                   :y2 769.8953399658203,
                                   :width 791.9999999999999,
                                   :height 1024.941176470588}
                                  {:x1 129.24950367445126,
                                   :y1 744.9988708496094,
                                   :x2 342.3488536500372,
                                   :y2 769.8953399658203,
                                   :width 791.9999999999999,
                                   :height 1024.941176470588}),
                          :page 8},
               :content {:text "3 Good modular flows"},
               :properties {:color "yellow"}}
              {:id #uuid "6610b7a7-b4cf-46df-8a00-5d66a9266266",
               :page 9,
               :position {:bounding {:x1 327,
                                     :y1 660.4814453125,
                                     :x2 514,
                                     :y2 831.4814453125,
                                     :width 897.6,
                                     :height 1161.6000000000001},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1712371621683},
               :properties {:color "yellow"}}
              {:id #uuid "6610b863-41f3-417b-9636-8a5c2f5f3f72",
               :page 10,
               :position {:bounding {:x1 105.555419921875,
                                     :y1 117.69952392578125,
                                     :x2 221.37152099609375,
                                     :y2 137.1640396118164,
                                     :width 897.6,
                                     :height 1161.6000000000001},
                          :rects ({:x1 105.555419921875,
                                   :y1 117.69952392578125,
                                   :x2 221.37152099609375,
                                   :y2 137.1640396118164,
                                   :width 897.6,
                                   :height 1161.6000000000001}),
                          :page 10},
               :content {:text "Definition 3.1"},
               :properties {:color "blue"}}
              {:id #uuid "6610ba2b-ad07-4848-a8e1-1aa7713d3dfc",
               :page 11,
               :position {:bounding {:x1 107.99115371704102,
                                     :y1 126.7490234375,
                                     :x2 668.991153717041,
                                     :y2 772.7490234375,
                                     :width 816,
                                     :height 1056},
                          :rects (),
                          :page 11},
               :content {:text "[:span]", :image 1712372266412},
               :properties {:color "yellow"}}
              {:id #uuid "6610ba7c-e586-4b4c-82ee-3f606e6fefa4",
               :page 10,
               :position {:bounding {:x1 529.7130584716797,
                                     :y1 465.4722442626953,
                                     :x2 608.1014556884766,
                                     :y2 486.74742126464844,
                                     :width 979.1999999999999,
                                     :height 1267.1999999999998},
                          :rects ({:x1 529.7130584716797,
                                   :y1 465.4722442626953,
                                   :x2 608.1014556884766,
                                   :y2 486.74742126464844,
                                   :width 979.1999999999999,
                                   :height 1267.1999999999998}),
                          :page 10},
               :content {:text " argumen"},
               :properties {:color "yellow"}}
              {:id #uuid "66120b0b-2740-4810-a0b8-5ccef0c775b9",
               :page 12,
               :position {:bounding {:x1 270.0799865722656,
                                     :y1 921.185546875,
                                     :x2 662.0799865722656,
                                     :y2 1088.185546875,
                                     :width 979.1999999999999,
                                     :height 1267.1999999999998},
                          :rects (),
                          :page 12},
               :content {:text "[:span]", :image 1712458506521},
               :properties {:color "yellow"}}],
 :extra {:page 12}}
