{:highlights [{:id #uuid "64d4e9de-65a1-49a2-b45a-5d88bd1994f7",
               :page 5,
               :position {:bounding {:x1 782.8333282470703,
                                     :y1 178.16650390625,
                                     :x2 1085.8333282470703,
                                     :y2 353.16650390625,
                                     :width 1224,
                                     :height 1584},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1691675101000},
               :properties {:color "yellow"}}
              {:id #uuid "64d4e9ec-db9d-46b0-8ecf-b0215abe5477",
               :page 5,
               :position {:bounding {:x1 134.8333282470703,
                                     :y1 91.16650390625,
                                     :x2 772.8333282470703,
                                     :y2 404.16650390625,
                                     :width 1224,
                                     :height 1584},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1691675114802},
               :properties {:color "yellow"}}
              {:id #uuid "64d532b0-9386-4e5a-b3ce-ba6f75e426ea",
               :page 7,
               :position {:bounding {:x1 0,
                                     :y1 61.510406494140625,
                                     :x2 677.8920288085938,
                                     :y2 302.12237548828125,
                                     :width 1387.2,
                                     :height 1795.2},
                          :rects ({:x1 0,
                                   :y1 61.510406494140625,
                                   :x2 0,
                                   :y2 81.51040649414062,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 0,
                                   :y1 77.51300048828125,
                                   :x2 0,
                                   :y2 97.51300048828125,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 0,
                                   :y1 93.515625,
                                   :x2 0,
                                   :y2 113.515625,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 144.9739532470703,
                                   :y1 198.37237548828125,
                                   :x2 677.8409423828125,
                                   :y2 224.20571899414062,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 122.39582824707031,
                                   :y1 224.34893798828125,
                                   :x2 677.8055572509766,
                                   :y2 250.18228149414062,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 122.39582824707031,
                                   :y1 250.3125,
                                   :x2 677.8920288085938,
                                   :y2 276.14581298828125,
                                   :width 1387.2,
                                   :height 1795.2}
                                  {:x1 122.39582824707031,
                                   :y1 276.2890625,
                                   :x2 162.5538330078125,
                                   :y2 302.12237548828125,
                                   :width 1387.2,
                                   :height 1795.2}),
                          :page 7},
               :content {:text "In general, A and B can have more than one qubit, and the MI becomes the expected number of disjoint connected components spanning A and B, up to a factor ln 2."},
               :properties {:color "yellow"}}],
 :extra {:page 7}}
