{:highlights [{:id #uuid "64d5268c-aa40-4fad-811f-bd3b91b89222",
               :page 3,
               :position {:bounding {:x1 185.10415649414062,
                                     :y1 891.0286254882812,
                                     :x2 519.7217407226562,
                                     :y2 911.0286254882812,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 185.10415649414062,
                                   :y1 891.0286254882812,
                                   :x2 519.7217407226562,
                                   :y2 911.0286254882812,
                                   :width 1224,
                                   :height 1584}),
                          :page 3},
               :content {:text "II. MODELS AND SIMULATION"},
               :properties {:color "yellow"}}],
 :extra {:page 4}}
