{:highlights [{:id #uuid "64cbbe59-bfff-4709-b692-c82b8d99b52a",
               :page 3,
               :position {:bounding {:x1 548.3333129882812,
                                     :y1 373,
                                     :x2 855.3333129882812,
                                     :y2 613,
                                     :width 979.1999999999999,
                                     :height 1267.1999999999998},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1691074136307},
               :properties {:color "yellow"}}
              {:id #uuid "64cbc9cb-0306-41d9-9402-6fa5ce307141",
               :page 5,
               :position {:bounding {:x1 126,
                                     :y1 80.3330078125,
                                     :x2 540,
                                     :y2 345.3330078125,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1691077067118},
               :properties {:color "yellow"}}
              {:id #uuid "64cbec00-ab00-4267-a1a9-e3ad3915dbca",
               :page 6,
               :position {:bounding {:x1 141.43427276611328,
                                     :y1 704.7786254882812,
                                     :x2 227.2474136352539,
                                     :y2 727.2786254882812,
                                     :width 1224,
                                     :height 1584},
                          :rects ({:x1 141.43427276611328,
                                   :y1 704.7786254882812,
                                   :x2 227.2474136352539,
                                   :y2 727.2786254882812,
                                   :width 1224,
                                   :height 1584}),
                          :page 6},
               :content {:text "BCS-type"},
               :properties {:color "yellow"}}
              {:id #uuid "64cbedda-f2cf-4896-8df5-73332ded6f50",
               :page 8,
               :position {:bounding {:x1 120.91430377960205,
                                     :y1 714.9478759765625,
                                     :x2 376.17382526397705,
                                     :y2 735.78125,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects ({:x1 120.91430377960205,
                                   :y1 714.9478759765625,
                                   :x2 376.17382526397705,
                                   :y2 735.78125,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}),
                          :page 8},
               :content {:text "effective three-spin interactions "},
               :properties {:color "yellow"}}
              {:id #uuid "64cbf25b-8e84-404a-98e4-18889954611e",
               :page 8,
               :position {:bounding {:x1 638.2421569824219,
                                     :y1 890.2083129882812,
                                     :x2 904.1631774902344,
                                     :y2 911.0416564941406,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects ({:x1 638.2421569824219,
                                   :y1 890.2083129882812,
                                   :x2 673.3984069824219,
                                   :y2 911.0416564941406,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 688.6458129882812,
                                   :y1 890.2083129882812,
                                   :x2 904.1631774902344,
                                   :y2 911.0416564941406,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}),
                          :page 8},
               :content {:text "Use parity-symmetric tensors"},
               :properties {:color "yellow"}}
              {:id #uuid "64cbf263-f0ae-4f55-8be3-d9e3c9ae355c",
               :page 8,
               :position {:bounding {:x1 0,
                                     :y1 1012.0181884765625,
                                     :x2 1049.2766723632812,
                                     :y2 1425.7291259765625,
                                     :width 1142.3999999999999,
                                     :height 1478.3999999999999},
                          :rects ({:x1 638.2421569824219,
                                   :y1 1012.0181884765625,
                                   :x2 1049.2766723632812,
                                   :y2 1032.8515625,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 638.2421569824219,
                                   :y1 1033.4114379882812,
                                   :x2 924.843505859375,
                                   :y2 1054.2447509765625,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}
                                  {:x1 0,
                                   :y1 1405.7291259765625,
                                   :x2 0,
                                   :y2 1425.7291259765625,
                                   :width 1142.3999999999999,
                                   :height 1478.3999999999999}),
                          :page 8},
               :content {:text "Replace line crossings in the planar representation of the TN by fermionic swap gates"},
               :properties {:color "yellow"}}
              {:id #uuid "64cbf477-1742-467b-9824-4d680a317258",
               :page 9,
               :position {:bounding {:x1 0,
                                     :y1 929.8827819824219,
                                     :x2 1199.1248168945312,
                                     :y2 1377.7213134765625,
                                     :width 1305.6,
                                     :height 1689.6},
                          :rects ({:x1 728.3492126464844,
                                   :y1 929.8827819824219,
                                   :x2 1199.1224365234375,
                                   :y2 953.2161254882812,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 676.2890205383301,
                                   :y1 954.3228759765625,
                                   :x2 1199.1248168945312,
                                   :y2 977.6562194824219,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 676.2890205383301,
                                   :y1 978.7630004882812,
                                   :x2 1019.0748481750488,
                                   :y2 1002.0963134765625,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 0,
                                   :y1 1341.7186889648438,
                                   :x2 0,
                                   :y2 1361.7186889648438,
                                   :width 1305.6,
                                   :height 1689.6}
                                  {:x1 0,
                                   :y1 1357.7213134765625,
                                   :x2 0,
                                   :y2 1377.7213134765625,
                                   :width 1305.6,
                                   :height 1689.6}),
                          :page 9},
               :content {:text "8-spin and 32-spin honeycomb lattice, which at this stage amount respectively to 2×2 and 4×4 square lattices of free fermions in momentum space."},
               :properties {:color "green"}}
              {:id #uuid "64cbf5bf-ee36-4a7d-93d1-93b5552b1eaf",
               :page 10,
               :position {:bounding {:x1 114.33332824707031,
                                     :y1 87.4990234375,
                                     :x2 700.3333282470703,
                                     :y2 366.4990234375,
                                     :width 1387.2,
                                     :height 1795.2},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1691088318824},
               :properties {:color "yellow"}}
              {:id #uuid "64cbf655-3540-48ae-800e-2704781e7014",
               :page 10,
               :position {:bounding {:x1 805.1666259765625,
                                     :y1 461.83203125,
                                     :x2 1168.1666259765625,
                                     :y2 865.83203125,
                                     :width 1387.2,
                                     :height 1795.2},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1691088469033},
               :properties {:color "yellow"}}],
 :extra {:page 17}}
