{:highlights [{:id #uuid "64b3f211-861c-42d7-b076-8ce77fac1670",
               :page 4,
               :position {:bounding {:x1 1171.5657348632812,
                                     :y1 210.8671875,
                                     :x2 1384.5657348632812,
                                     :y2 337.8671875,
                                     :width 1393.6000000000001,
                                     :height 998.4000000000001},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1689514511854},
               :properties {:color "yellow"}}
              {:id #uuid "64b3f236-1a0d-40f5-8a27-33254f3d6d66",
               :page 4,
               :position {:bounding {:x1 1163.5657348632812,
                                     :y1 366.44140625,
                                     :x2 1383.5657348632812,
                                     :y2 500.44140625,
                                     :width 1393.6000000000001,
                                     :height 998.4000000000001},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1689514550003},
               :properties {:color "yellow"}}
              {:id #uuid "64b3f244-ddc5-4a79-9ffe-9e67c52aca73",
               :page 4,
               :position {:bounding {:x1 705.5657348632812,
                                     :y1 501.93255615234375,
                                     :x2 961.3322448730469,
                                     :y2 664.4315795898438,
                                     :width 1393.6000000000001,
                                     :height 998.4000000000001},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1689514609844},
               :properties {:color "yellow"}}
              {:id #uuid "64b3f277-ce92-43bf-a2ac-bc00f19a5c3e",
               :page 4,
               :position {:bounding {:x1 962.7402954101562,
                                     :y1 525.79052734375,
                                     :x2 1171.7402954101562,
                                     :y2 654.79052734375,
                                     :width 1393.6000000000001,
                                     :height 998.4000000000001},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1689514613951},
               :properties {:color "yellow"}}],
 :extra {:page 5}}
