{:highlights [{:id #uuid "65265456-4110-4472-a047-5fa1504da8ae",
               :page 4,
               :position {:bounding {:x1 388.85950469970703,
                                     :y1 316.3388671875,
                                     :x2 418.85950469970703,
                                     :y2 339.3388671875,
                                     :width 714.3312,
                                     :height 1010.2679999999999},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1697010773634},
               :properties {:color "yellow"}}
              {:id #uuid "652654f8-e72e-4aa6-8976-5b111e253331",
               :page 4,
               :position {:bounding {:x1 135.85950469970703,
                                     :y1 441.231201171875,
                                     :x2 302.85950469970703,
                                     :y2 461.231201171875,
                                     :width 714.3312,
                                     :height 1010.2679999999999},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1697010935246},
               :properties {:color "yellow"}}
              {:id #uuid "652658ce-8bdb-4e1c-a499-bce9a774578b",
               :page 6,
               :position {:bounding {:x1 160.65289306640625,
                                     :y1 259.0166015625,
                                     :x2 200.65289306640625,
                                     :y2 291.0166015625,
                                     :width 793.7013333333332,
                                     :height 1122.52},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1697011917018},
               :properties {:color "yellow"}}
              {:id #uuid "652f89ca-1103-45e8-b81a-a8df4763a338",
               :page 8,
               :position {:bounding {:x1 234.04132080078125,
                                     :y1 311.5615234375,
                                     :x2 329.04132080078125,
                                     :y2 339.5615234375,
                                     :width 1031.8117333333332,
                                     :height 1459.276},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1697614281355},
               :properties {:color "yellow"}}
              {:id #uuid "652f8eb9-c06d-430c-b492-e63dfd306fe5",
               :page 10,
               :position {:bounding {:x1 641.8925628662109,
                                     :y1 1078.404296875,
                                     :x2 746.8925628662109,
                                     :y2 1117.404296875,
                                     :width 1031.8117333333332,
                                     :height 1459.276},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1697615544456},
               :properties {:color "yellow"}}
              {:id #uuid "652f8ed6-8fb5-403a-8e0c-5121a5e198e8",
               :page 10,
               :position {:bounding {:x1 215.89256286621094,
                                     :y1 1257.7021484375,
                                     :x2 399.89256286621094,
                                     :y2 1288.7021484375,
                                     :width 1031.8117333333332,
                                     :height 1459.276},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1697615573204},
               :properties {:color "yellow"}}
              {:id #uuid "652f9603-d180-4f82-8ec8-72c283ae8bc4",
               :page 14,
               :position {:bounding {:x1 181.17355346679688,
                                     :y1 305.578125,
                                     :x2 228.17355346679688,
                                     :y2 337.578125,
                                     :width 1031.8117333333332,
                                     :height 1459.276},
                          :rects (),
                          :page 14},
               :content {:text "[:span]", :image 1697617410807},
               :properties {:color "yellow"}}
              {:id #uuid "652f98c7-ee23-4733-81cc-c5807090bb94",
               :page 16,
               :position {:bounding {:x1 582.8925628662109,
                                     :y1 340.603515625,
                                     :x2 623.8925628662109,
                                     :y2 375.603515625,
                                     :width 1031.8117333333332,
                                     :height 1459.276},
                          :rects (),
                          :page 16},
               :content {:text "[:span]", :image 1697618118528},
               :properties {:color "yellow"}}
              {:id #uuid "652f98fd-b192-476b-bb68-02b3b5ddf7b8",
               :page 16,
               :position {:bounding {:x1 370.89256286621094,
                                     :y1 381.603515625,
                                     :x2 458.89256286621094,
                                     :y2 411.603515625,
                                     :width 1031.8117333333332,
                                     :height 1459.276},
                          :rects (),
                          :page 16},
               :content {:text "[:span]", :image 1697618172049},
               :properties {:color "yellow"}}
              {:id #uuid "652f9977-6dcb-4bab-81af-c991e2840415",
               :page 16,
               :position {:bounding {:x1 678.8925628662109,
                                     :y1 380.603515625,
                                     :x2 741.8925628662109,
                                     :y2 408.603515625,
                                     :width 1031.8117333333332,
                                     :height 1459.276},
                          :rects (),
                          :page 16},
               :content {:text "[:span]", :image 1697618293442},
               :properties {:color "yellow"}}
              {:id #uuid "6538c938-3ce7-4c97-9f9c-7b5817aae298",
               :page 17,
               :position {:bounding {:x1 315.1539611816406,
                                     :y1 765.376953125,
                                     :x2 362.1539611816406,
                                     :y2 797.376953125,
                                     :width 1031.8117333333332,
                                     :height 1459.276},
                          :rects (),
                          :page 17},
               :content {:text "[:span]", :image 1698220343485},
               :properties {:color "yellow"}}
              {:id #uuid "654b3d68-29f0-48ad-9770-e2e8468f3348",
               :page 23,
               :position {:bounding {:x1 400.04742431640625,
                                     :y1 801.833984375,
                                     :x2 482.04742431640625,
                                     :y2 841.833984375,
                                     :width 952.4415999999999,
                                     :height 1347.024},
                          :rects (),
                          :page 23},
               :content {:text "[:span]", :image 1699429735461},
               :properties {:color "yellow"}}
              {:id #uuid "654b4ac5-a895-4c61-bd67-01839c36ddc1",
               :page 34,
               :position {:bounding {:x1 571.4526632726192,
                                     :y1 191.1015625,
                                     :x2 591.4526632726192,
                                     :y2 220.1015625,
                                     :width 823,
                                     :height 1163.9566688393284},
                          :rects (),
                          :page 34},
               :content {:text "[:span]", :image 1699433155836},
               :properties {:color "yellow"}}
              {:id #uuid "654b4b0d-22b2-41ae-a675-6a49ae25c49c",
               :page 34,
               :position {:bounding {:x1 304.45266327261925,
                                     :y1 363.17578125,
                                     :x2 392.45266327261925,
                                     :y2 387.17578125,
                                     :width 823,
                                     :height 1163.9566688393284},
                          :rects (),
                          :page 34},
               :content {:text "[:span]", :image 1699433228505},
               :properties {:color "yellow"}}
              {:id #uuid "654b4bbd-54b4-4fe9-9a3b-f9ebcdeadaac",
               :page 34,
               :position {:bounding {:x1 653.4526632726192,
                                     :y1 894.609375,
                                     :x2 691.4526632726192,
                                     :y2 920.609375,
                                     :width 823,
                                     :height 1163.9566688393284},
                          :rects (),
                          :page 34},
               :content {:text "[:span]", :image 1699433404949},
               :properties {:color "yellow"}}
              {:id #uuid "654b4e73-93e4-4c08-abe8-76aee8c62789",
               :page 35,
               :position {:bounding {:x1 339.89064025878906,
                                     :y1 704.02734375,
                                     :x2 381.89064025878906,
                                     :y2 740.02734375,
                                     :width 952.4415999999999,
                                     :height 1347.024},
                          :rects (),
                          :page 35},
               :content {:text "[:span]", :image 1699434098393},
               :properties {:color "yellow"}}
              {:id #uuid "655db79d-0ba5-4878-b790-83a94a5db22d",
               :page 37,
               :position {:bounding {:x1 469.1332550048828,
                                     :y1 629.58203125,
                                     :x2 726.1332550048828,
                                     :y2 654.58203125,
                                     :width 873.0714666666667,
                                     :height 1234.7720000000002},
                          :rects (),
                          :page 37},
               :content {:text "[:span]", :image 1700640667273},
               :properties {:color "yellow"}}
              {:id #uuid "65814477-8295-41d6-84bd-225b06def8d5",
               :page 51,
               :position {:bounding {:x1 306.47938537597656,
                                     :y1 799.1171875,
                                     :x2 503.47938537597656,
                                     :y2 836.1171875,
                                     :width 1111.1818666666666,
                                     :height 1571.5279999999998},
                          :rects (),
                          :page 51},
               :content {:text "[:span]", :image 1702970484170},
               :properties {:color "yellow"}}
              {:id #uuid "658144f3-5e0c-4071-9da5-44056738e0f4",
               :page 51,
               :position {:bounding {:x1 724.4793853759766,
                                     :y1 835.65625,
                                     :x2 829.4793853759766,
                                     :y2 876.65625,
                                     :width 1111.1818666666666,
                                     :height 1571.5279999999998},
                          :rects (),
                          :page 51},
               :content {:text "[:span]", :image 1702970610546},
               :properties {:color "yellow"}}
              {:id #uuid "6581456d-83f4-4e02-80f3-7eb3eb8fe7fa",
               :page 51,
               :position {:bounding {:x1 255.47938537597656,
                                     :y1 915.65625,
                                     :x2 329.47938537597656,
                                     :y2 948.65625,
                                     :width 1111.1818666666666,
                                     :height 1571.5279999999998},
                          :rects (),
                          :page 51},
               :content {:text "[:span]", :image 1702970732123},
               :properties {:color "yellow"}}
              {:id #uuid "658146a3-acde-4375-bdc0-4c15bccfc76b",
               :page 51,
               :position {:bounding {:x1 390.47938537597656,
                                     :y1 1372.3828125,
                                     :x2 674.4793853759766,
                                     :y2 1408.3828125,
                                     :width 1111.1818666666666,
                                     :height 1571.5279999999998},
                          :rects (),
                          :page 51},
               :content {:text "[:span]", :image 1702971042671},
               :properties {:color "yellow"}}
              {:id #uuid "658187a0-3543-461c-80bf-b62ebe9a7f87",
               :page 62,
               :position {:bounding {:x1 151.1208267211914,
                                     :y1 428.5703125,
                                     :x2 829.1208267211914,
                                     :y2 631.5703125,
                                     :width 952.4415999999999,
                                     :height 1347.024},
                          :rects (),
                          :page 62},
               :content {:text "[:span]", :image 1702987679881},
               :properties {:color "blue"}}
              {:id #uuid "65818866-d906-4041-839a-3c86ae284140",
               :page 63,
               :position {:bounding {:x1 298.1208267211914,
                                     :y1 381.7421875,
                                     :x2 474.1208267211914,
                                     :y2 416.7421875,
                                     :width 952.4415999999999,
                                     :height 1347.024},
                          :rects (),
                          :page 63},
               :content {:text "[:span]", :image 1702987876984},
               :properties {:color "yellow"}}
              {:id #uuid "65818b52-8389-4e59-b8f4-8366ee6f42dc",
               :page 70,
               :position {:bounding {:x1 573.3965606689453,
                                     :y1 1004.2265625,
                                     :x2 595.3965606689453,
                                     :y2 1031.2265625,
                                     :width 873.0714666666667,
                                     :height 1234.7720000000002},
                          :rects (),
                          :page 70},
               :content {:text "[:span]", :image 1702988625686},
               :properties {:color "yellow"}}],
 :extra {:page 34}}
