{:highlights [{:id #uuid "65265456-4110-4472-a047-5fa1504da8ae",
               :page 4,
               :position {:bounding {:x1 388.85950469970703,
                                     :y1 316.3388671875,
                                     :x2 418.85950469970703,
                                     :y2 339.3388671875,
                                     :width 714.3312,
                                     :height 1010.2679999999999},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1697010773634},
               :properties {:color "yellow"}}
              {:id #uuid "652654f8-e72e-4aa6-8976-5b111e253331",
               :page 4,
               :position {:bounding {:x1 135.85950469970703,
                                     :y1 441.231201171875,
                                     :x2 302.85950469970703,
                                     :y2 461.231201171875,
                                     :width 714.3312,
                                     :height 1010.2679999999999},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1697010935246},
               :properties {:color "yellow"}}
              {:id #uuid "652658ce-8bdb-4e1c-a499-bce9a774578b",
               :page 6,
               :position {:bounding {:x1 160.65289306640625,
                                     :y1 259.0166015625,
                                     :x2 200.65289306640625,
                                     :y2 291.0166015625,
                                     :width 793.7013333333332,
                                     :height 1122.52},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1697011917018},
               :properties {:color "yellow"}}],
 :extra {:page 8}}
